{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Tbgenparametros</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Vdescripcion</th>
                <td>{{ entity.vdescripcion }}</td>
            </tr>
            <tr>
                <th>Imaxacceso</th>
                <td>{{ entity.imaxAcceso }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('Parametros') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('Parametros_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
