{% extends '::base.html.twig' %}

{% block body -%}
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <h1>Edicion de Registro de Usuario</h1>
<br>
<br>
<h2>Datos Personales</h2>
<br>
    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}
        {{ form_row(edit_form.pkIci, {'label': 'Cedula:'}) }}
        {{ form_row(edit_form.vnombre,  {'label': 'Nombre:'}) }}
        {{ form_row(edit_form.vapellido,  {'label': 'Apellido'}) }}
        {{ form_row(edit_form.vcorreoEmail,  {'label': 'Correo:'}) }}
        {{ form_row(edit_form.vtelfLocal,  {'label': 'Telefono Local'}) }}
        {{ form_row(edit_form.vtelfMovil,  {'label': 'Telefono Movil'}) }}
        {{ form_row(edit_form.vcargo,  {'label': 'Cargo'}) }}
        {{ form_row(edit_form.vdepartamento,  {'label': 'Departamento'}) }}
        {{ form_row(edit_form.vsucursal, {'label': 'Sucursal'}) }}
        
<br>
<h2>Contratos </h2>    
<br>
    <ul class="contratos" data-prototype="{{ form_widget(edit_form.contratos.vars.prototype)|e }}">
         {% for contratorif in edit_form.contratos %}
        <li>   {{ form_row(contratorif.pkInroContrato,  {'label': 'NRO-Contrato'}) }} 
           {{ form_row(contratorif.fkIrif,  {'label': 'NRO-Rif'}) }}</li>
        {% endfor %}
    
    </ul>
<br>
<h2>Sistema </h2>            
<br>            
     {{ form_row(edit_form.usuarioacceso.fkIidEstatus,{'label': 'Estatus Actual'}) }}
       {{ form_row(edit_form.usuarioacceso.fkIidRol, {'label': 'Rol'}) }}    

<br>
    <!--Campos ocultos -->
    <div style="display: none;">
        {{ form_row(edit_form.usuarioacceso.fkIci) }}
   
        {{ form_row(edit_form.vclave) }}
        {{ form_row(edit_form.dfechaRegistro) }}
    </div>
        {{ form_row(edit_form.submit, { 'label': 'Editar' }) }}
        {{ form_row(delete_form.submit, { 'label': 'Eliminar' }) }}
        {{ form_end(edit_form) }}     

        <ul class="record_actions">
   
    <li></li>
     <li>
        <a href="{{ path('Registro') }}">
            Volver a Lista de Usuarios Registrados
        </a>
    </li>
</ul>

<script >
var $collectionHolder;
// setup an "add a tag" link
var $addTbdetcontratorifLink = $('<a href="#" class="add_tbdetcontratorif_link">Agregar</a><');
var $newLinkLi = $('<li></li>').append($addTbdetcontratorifLink);

jQuery(document).ready(function() {
    // Get the ul that holds the collection of tags
    $collectionHolder = $('ul.contratos');
// add a delete link to all of the existing tag form li elements
    $collectionHolder.find('li').each(function() {
        addTbdetcontratorifFormDeleteLink($(this));
    });
    // add the "add a tag" anchor and li to the tags ul
    $collectionHolder.append($newLinkLi);
    // 
    // count the current form inputs we have (e.g. 2), use that as the new
    // index when inserting a new item (e.g. 2)
    $collectionHolder.data('index', $collectionHolder.find(':input').length);

    $addTbdetcontratorifLink.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();
        // add a new tag form (see next code block)
        addTbdetcontratorifForm($collectionHolder, $newLinkLi);
    });
    
}); 
function addTbdetcontratorifFormDeleteLink($contratoFormLi) {
    var $removeFormA = $('<td><a href="#">Quitar</a></td>');
    $contratoFormLi.append($removeFormA);

    $removeFormA.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // remove the li for the tag form
        $contratoFormLi.remove();
    });
}
function addTbdetcontratorifForm($collectionHolder, $newLinkLi) {
    // Get the data-prototype explained earlier
    var prototype = $collectionHolder.data('prototype');

    // get the new index
    var index = $collectionHolder.data('index');

    // Replace '__name__' in the prototype's HTML to
    // instead be a number based on how many items we have
    var newForm = prototype.replace(/__name__/g, index);

    // increase the index with one for the next item
    $collectionHolder.data('index', index + 1);

    // Display the form in the page in an li, before the "Add a tag" link li
    var $newFormLi = $('<li></li>').append(newForm);
    $newLinkLi.before($newFormLi);
    addTbdetcontratorifFormDeleteLink($newFormLi);
}
</script>
{% endblock %} 