{% extends '::layout.html.twig' %}

{% block content %}

<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    <h1>Edicion de Registro de Usuario</h1>
<br>
<br>
<h1>Datos Personales</h1>
<br>
<form action="{{ path('Registro_update', { 'id': entity.id }) }}" method="post" id="login">
    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}
        {{ form_row(edit_form.pkIci, {'label': 'Cédula:'}) }}
        {{ form_row(edit_form.vnombre,  {'label': 'Nombre:'}) }}
        {{ form_row(edit_form.vapellido,  {'label': 'Apellido'}) }}
        {{ form_row(edit_form.vcorreoEmail,  {'label': 'Correo:'}) }}
        {{ form_row(edit_form.vtelfLocal,  {'label': 'Telf-Local'}) }}
        {{ form_row(edit_form.vtelfMovil,  {'label': 'Telf-Movil'}) }}
        {{ form_row(edit_form.vcargo,  {'label': 'Cargo'}) }}
        {{ form_row(edit_form.vdepartamento,  {'label': 'Departamento'}) }}
        {{ form_row(edit_form.vsucursal, {'label': 'Sucursal'}) }}
        
<br><br>
<h1>Contratos </h1>    
<br>

<ul class="contratos" data-prototype="{{ form_widget(edit_form.contratos.vars.prototype)|e }}">
        
         {% for usuariocontrato in edit_form.contratos %}
             <li>
                 
                {{ form_row(usuariocontrato.fkInroContrato) }}       
                {{ form_row(usuariocontrato.tbdetcontratorif) }}       
            </li>
        {% endfor %}
    
</ul>

<br><br><br>
<h1>Sistema </h1>            
<br>            
     {{ form_row(edit_form.usuarioacceso.fkIidEstatus,{'label': 'Estatus'}) }}
       {{ form_row(edit_form.usuarioacceso.fkIidRol, {'label': 'Rol'}) }}    
<br>
    <!--Campos ocultos -->
    <div style="display: none;">
        {{ form_row(edit_form.usuarioacceso.fkIci) }}
        {{ form_row(edit_form.vrif) }}
        {{ form_row(edit_form.vcontrato) }}
        {{ form_row(edit_form.vclave) }}
        {{ form_row(edit_form.dfechaRegistro) }}
        {{ form_row(edit_form.contratos) }}
        
    {{ form_row(delete_form.submit, { 'label': 'Eliminar' }) }}
    {{ form_row(edit_form.submit, { 'label': 'Editar' }) }}            
    </div>
    <button type="submit" class="sf-button">
            <span class="border-l">
                <span class="border-r">
                    <span class="btn-bg">Actualizar</span>
                </span>
            </span>
    </button>
    {{ form_end(edit_form) }}     
    <br>
   
</form>
<br><br>
 
<br>
        <ul class="record_actions">
   
    <li></li>
     <li>
        <a href="{{ path('Registro') }}">
            Ver Lista de Usuarios Registrados
        </a>
    </li>
</ul>

{% block javascripts %}
    {{ parent() }}
<script>
    
var $collectionHolder;

// setup an "add a tag" link

var $addTbdetcontratorifLink = $('<a href="#" class="add_tbdetcontratorif_link">Agregar</a><');

var $newLinkLi = $('<div></div>').append($addTbdetcontratorifLink);


jQuery(document).ready(function() {
    // Get the ul that holds the collection of tags
    $collectionHolder = $('ul.contratos');
    
// add a delete link to all of the existing tag form li elements
    
    $collectionHolder.find('li').each(function() {
        addTbdetcontratorifFormDeleteLink($(this));
    });

    
    // add the "add a tag" anchor and li to the tags ul
    $collectionHolder.append($newLinkLi);
    // 
    // count the current form inputs we have (e.g. 2), use that as the new
    // index when inserting a new item (e.g. 2)
    $collectionHolder.data('index', $collectionHolder.find('li').length);
    
        //alert("Han cambiado mi valor"+ $collectionHolder.data('index'));
    
    $addTbdetcontratorifLink.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();
        // add a new tag form (see next code block)
        addTbdetcontratorifForm($collectionHolder, $newLinkLi);
    });
    
}); 
function addTbdetcontratorifFormDeleteLink($contratoFormLi) {
    var $removeFormA = $('<td><a href="#">Quitar</a></td>');
        $contratoFormLi.append($removeFormA);
        
        $removeFormA.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        var $collectionHolder = $('ul.contratos');
        var index=$collectionHolder.find('li').length;
        
        if(index===1){
            alert("Estimado. Recuerde que debe existir al menos un contrato."+ index);
        }else{
        
        $contratoFormLi.remove();
        }
        e.preventDefault();
           // remove the li for the tag form
    });
}
function addTbdetcontratorifForm($collectionHolder, $newLinkLi) {
    // Get the data-prototype explained earlier
    var prototype = $collectionHolder.data('prototype');
    //alert("Prototype "+ prototype);
    // get the new index
    var index = $collectionHolder.data('index');
    //alert("Han cambiado mi valorPPP"+ $collectionHolder.data('index'));

    // Replace '__name__' in the prototype's HTML to
    // instead be a number based on how many items we have
    var newForm = prototype.replace(/__name__/g, index);
     
     var newFormD = "<div><label for=tech_tbundle_tbdetusuariodatos_contratos_"+index+"_tbdetcontratorif>Empresa: </label><select id='tech_tbundle_tbdetusuariodatos_contratos_"+index+"_tbdetcontratorif' name='tech_tbundle_tbdetusuariodatos[contratos]["+index+"][tbdetcontratorif]'class='tbdetempresa_selector'><option value=>Rif</option></select>";
    // increase the index with one for the next item
    $collectionHolder.data('index', index + 1);

    // Display the form in the page in an li, before the "Add a tag" link li
    var $newFormLi = $('<li></li>').append(newForm).append(newFormD);
        $newLinkLi.before($newFormLi);
        addTbdetcontratorifFormDeleteLink($newFormLi);
    var $cucu=$('#tech_tbundle_tbdetusuariodatos_contratos_'+index+'_fkInroContrato');  
    var $cucu4=$cucu.addClass("tbdetcontratorif_selector");
    var $cucu10=$('#tech_tbundle_tbdetusuariodatos_contratos_'+index+'_fkInroContrato');
    var $cucu11= $cucu10.find('> option:first').attr('value',0);  
    var $cucu12= $cucu10.find('> option[value='+0+']').text('Nro');  
    var $cucu5=$('#tech_tbundle_tbdetusuariodatos_contratos_'+index).find(':first');
    var $cucu6=$cucu5.css('display', 'none');
    var $cucu8= $("label[for='tech_tbundle_tbdetusuariodatos_contratos_"+index+"_fkInroContrato']").text("Contrato: ");
}

</script>
<script>
        $(function(){
         $(document).on('change', '.tbdetcontratorif_selector', function(){
             //alert("Han cambiado mi valor");
             var $this = $(this);
             var $arreglo=$this.attr("id");
             var $val=$arreglo.split('_')[4];
             
             var data = {
                 tbdetcontratorif_id: $this.val()
             };

             $.ajax({
                  type: 'post',
                  url: '{{ path("rifs") }}',
                  data: data,
                  dataType: 'json',
                  success: function(data,val) {
                      if (data.error !== undefined && data.error != '') {
                          alert(data.error);
                      } else {
                          var $tbdetempresa_selector = $this.closest('.contratos').find('.tbdetempresa_selector');
                         
                         // alert("Han cambiado mi valor"+ $val);
                           $("#tech_tbundle_tbdetusuariodatos_contratos_"+$val+"_tbdetcontratorif").html('<option>Rif</option>');
                            $("#tech_tbundle_tbdetusuariodatos_contratos_"+$val+"_tbdetcontratorif").append('<option value="'+data.id +'" selected="selected">'+data.name+'</option>'); 	
                         
                    }
                    },
                  error: function(e, ts, et) { alert(ts) }
              });
        
              
              });
                        
                        });
              
              
    </script>
{% endblock %} 
{% endblock %} 
