{% extends '::layout.html.twig' %}

{% block content %}
 <h1  >Confirmación de Solicitud de Registro de Clientes</h1>

<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>


<div class="container" >

    <section class="register">
        <a href="#" name="consulta_link"><h1>Consulta de Solicitudes de Registro</h1></a>
        <div style="display: none;" align="center" class="form_search">
        <form action="{{ path('Registro_search') }}" method="post" id="login" novalidate>

    {{ form_start(search_form) }}
    {{ form_errors(search_form) }}
            <table border="0" cellpadding="1" cellspacing="1">
                <tr>
                <td>
                <div class="error">{{ form_errors(search_form.pkIci) }}</div>       
                <table><td width="100">{{ form_label(search_form.pkIci, 'Cédula:') }}</td>
                       <td>{{ form_widget(search_form.pkIci) }}</td>
                </table>
                <div class="error">{{ form_errors(search_form.vcargo) }}</div>       
                <table>  <td width="100">{{ form_label(search_form.vcargo, 'Cargo:') }}</td>
                         <td>{{ form_widget(search_form.vcargo,{'required': 'true'}) }}</td>
                </table>
                    <ul  class="contratos" data-prototype="{{ form_widget(search_form.contratos.vars.prototype)|e }}">

         {% for usuariocontrato in search_form.contratos %}
             <li>
                 <div style="display: none;">
                     {{ form_row(usuariocontrato.fkIci) }}       
                 </div>
                 <div class="error">
                {{ form_errors(usuariocontrato.fkInroContrato) }}</div>       
        <table>  <td width="100">
                {{ form_label(usuariocontrato.fkInroContrato, 'Contrato:') }}</td>
            <td>{{ form_widget(usuariocontrato.fkInroContrato) }}</td>
        </table>   

                      <div class="error">
                {{ form_errors(usuariocontrato.tbdetcontratorif) }}</div>       
        <table>  <td width="100">
                {{ form_label(usuariocontrato.tbdetcontratorif, 'Empresa:') }}</td>
            <td>{{ form_widget(usuariocontrato.tbdetcontratorif) }}</td>
        </table>   
       
            </li>
        {% endfor %}
    
                    </ul>

                </td>
                <td width="10"></td>
                <td>
                    <div class="error">
                {{ form_errors(search_form.vnombre) }}</div>       
                    <table>  <td width="100">
                {{ form_label(search_form.vnombre, 'Nombre:') }}</td>
                        <td>{{ form_widget(search_form.vnombre) }}</td>
                    </table>
                    <div class="error">
                {{ form_errors(search_form.vsucursal) }}</div>       
                    <table>  <td width="100">
                {{ form_label(search_form.vsucursal, 'Sucursal:') }}</td>
                        <td>{{ form_widget(search_form.vsucursal) }}</td>
                    </table>
                    
                    
        <div class="error">
                {{ form_errors(search_form.dfechaRegistro) }}</div>       
                    <table>  <td width="100">
                {{ form_label(search_form.dfechaRegistro, 'Fecha:') }}</td>
                        <td>{{ form_widget(search_form.dfechaRegistro,{'type':'date'}) }}</td>
                    </table>

                </td>
                <td width="10"></td>

                <td>
                    <div class="error">
                {{ form_errors(search_form.vapellido) }}</div>       
                    <table>  <td width="100">
                {{ form_label(search_form.vapellido, 'Apellido:') }}</td>
                        <td>{{ form_widget(search_form.vapellido) }}</td>
                    </table>
                    <div class="error">
                {{ form_errors(search_form.usuarioacceso.fkIidEstatus) }}</div>       
                    <table>  <td width="100">
                {{ form_label(search_form.usuarioacceso.fkIidEstatus, 'Estatus:') }}</td>
                        <td>{{ form_widget(search_form.usuarioacceso.fkIidEstatus) }}</td>
                    </table>
                    
                    <div class="error">
                {{ form_errors(search_form.usuarioacceso.fkIidRol) }}</div>       
                    <table>  <td width="100">
                {{ form_label(search_form.usuarioacceso.fkIidRol, 'Rol:') }}</td>
                        <td>{{ form_widget(search_form.usuarioacceso.fkIidRol,
            {'required': 'true'}) }}</td>
                    </table>
                </td>
                </tr>
                <tr>
                         
                <td>
                </td>
                <td></td>
                <td></td>
                <td></td>
                
                <td>
               
                        <input type="reset" name="clear" value="Limpiar"> 
                        <input type="submit" name="commit" value="Buscar">
               
                </td>
                

                <!--Campos ocultos -->
                <div style="display: none;">

        {{ form_row(search_form.vrif) }}
        {{ form_row(search_form.vcontrato) }}
        {{ form_row(search_form.vclave) }}

        {{ form_row(search_form.usuarioacceso.fkIci) }}
        {{ form_row(search_form.vcorreoEmail,  {'label': 'Correo:'}) }}
        {{ form_row(search_form.submit, { 'label': 'Buscar' }) }}  
        {{ form_row(search_form.reset, { 'label': 'Limpiar' }) }}  
        {{ form_row(search_form.vdepartamento,  {'label': 'Departamento'}) }}
        {{ form_row(search_form.vtelfLocal,  {'label': 'Telf-Local'}) }}
        {{ form_row(search_form.vtelfMovil,  {'label': 'Telf-Movil'}) }}
        {{ form_row(search_form.vtipoCi, {'label': 'Tipo-CI:'}) }}
                </div>    


            </table>

    {{ form_end(search_form) }}
        </form>
        </div>
    </section>
</div>

<div class="container" >

    <section class="register">
        <h1>Listado de Solicitudes de Registro. ({{ pagination.getTotalItemCount }})</h1>
        <br>
        <div class="navigation" align="right">
    {{ knp_pagination_render(pagination) }} 
        </div>

        <table class="records_list">
            {% if (pagination.getTotalItemCount!=0) %}
            <thead> 
                <tr>
                <!--td width="80"><h4><strong>knp_pagination_sortable(pagination, 'Cédula', 'ud.pkIci') }}</strong></h4></td-->
                <td align="center" width="80"><h4><strong>Cédula</strong></h4></td>
                <td width="40"></td>
                <td align="center" width="80"><h4><strong>Nombre</strong></h4></td>
                <td width="40"></td>
                <td align="center" width="80"><h4><strong>Apellido</strong></h4></td>
                <td width="40"></td>
                <td align="center" width="80"><h4><strong>Cargo</strong></h4></td>
                <td width="40"></td>
                <td align="center" width="80"><h4><strong>Sucursal</strong></h4></td>
                <td width="40"></td>
                <td align="center" width="80"><h4><strong>Contratos</strong></h4></td>
                <td width="40"></td>
                <td align="center" width="80"><h4><strong>Estatus</strong></h4></td>
                <td width="40"></td>
                <td align="center" width="80"><h4><strong>Fecha Reg.</strong></h4></td>
                <td width="40"></td>
                <!--td width="80"><h4><strong>Rol</strong></h4></td-->
                <td width="40"></td>
                <td align="center" width="80"><h4><strong>Acciones</strong></h4></td>
                </tr>
            </thead>
{% else %}
            <thead><div align="left"> 
                <h4><strong>No se encontraron coincidencias. </strong></h4></div>
                </thead> 
{% endif %}
            <tbody>
        {% for entity in pagination %}
                <tr {% if loop.index is odd %} bgcolor="#FFFFFF" {% endif %}>

                <td align="center">{{ entity.pkIci }}</td>
                <td align="center" width="40"></td>
                <td align="center">{{ entity.vnombre }}</td>
                <td align="center" width="20"></td>
                <td align="center">{{ entity.vapellido }}</td>
                <td align="center" width="40"></td>
                <td align="center">{{ entity.vcargo }}</td>
                <td align="center" width="40"></td>
                <td align="center">{{ entity.vsucursal }}</td>
                <td align="center" width="40"></td>
                <td align="center">{% for contrato in entity.contratos  %}

                    <a href="{{ path('Contratos_show', { 'id': contrato.fkInroContrato.id }) }}">{{ contrato.fkInroContrato.pkInroContrato }}</a>
                   {% endfor %}
                </td>
                <td align="center" width="40"></td>
                <td align="center">{{ entity.usuarioacceso.fkIidEstatus }}</td>
                <td align="center" width="40"></td>
                <td align="center">{% if entity.dfechaRegistro %}{{ entity.dfechaRegistro|date('d\-m\-y') }}{% endif %}</td>
                <td align="center" width="40"></td>
                <!--td>{{ entity.usuarioacceso.fkIidRol }}</td-->
                <td align="center" width="40"></td>
                <td align="center" width="40">
                    <ul>
                    
                        <li>
                            <a href="{{ path('Registro_edit', { 'id': entity.id }) }}"><img  width="40"  height="38" title="Editar" src="/bundles/techt/images/Draft.png"/></a>
                        </li>
                    </ul>
                </td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
    </section>
    <br><br>
    <ul>
        <li>
            <a href="{{ path('Registro_new') }}">
                <h4><strong>   Realizar Solicitud de Registro de Cliente</strong></h4>
            </a>
        </li>
    </ul>

</div>
<script>
    
    $(function() {
        $(document).on('change', '.tbdetcontratorif_selector', function() {
            //alert("Han cambiado mi valor");
            var $this = $(this);
            var $arreglo = $this.attr("id");
            var $val = $arreglo.split('_')[4];

            var data = {
                tbdetcontratorif_id: $this.val()
            };

            $.ajax({
                type: 'post',
                url: '{{ path("rifs") }}',
                data: data,
                dataType: 'json',
                success: function(data, val) {
                    if (data.error !== undefined && data.error != '') {
                        alert(data.error);
                    } else {
                        var $tbdetempresa_selector = $this.closest('.contratos').find('.tbdetempresa_selector');

                        // alert("Han cambiado mi valor"+ $val);
                        $("#tech_tbundle_tbdetusuariodatos_contratos_" + $val + "_tbdetcontratorif").html('<option>Rif</option>');
                        $("#tech_tbundle_tbdetusuariodatos_contratos_" + $val + "_tbdetcontratorif").append('<option value="' + data.id + '" selected="selected">' + data.name + '</option>');

                    }
                },
                error: function(e, ts, et) {
                    alert(ts)
                }
            });


        });

    });


</script>
<script>
    
    $('a[href="#"]').click(function() {
      if($('.form_search').is(':visible')) {
          $('.form_search').fadeOut();
    }else{
    $('.form_search').fadeIn('slow');

}
});

    </script>
    {% endblock %}
