{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Tbdetusuariodatos list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pkici</th>
                <th>Vnombre</th>
                <th>Vapellido</th>
                <th>Vcorreoemail</th>
                <th>Vtelflocal</th>
                <th>Vtelfmovil</th>
                <th>Vcargo</th>
                <th>Vdepartamento</th>
                <th>Vsucursal</th>
                <th>Vclave</th>
                <th>Dfecharegistro</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('Registro_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.pkIci }}</td>
                <td>{{ entity.vnombre }}</td>
                <td>{{ entity.vapellido }}</td>
                <td>{{ entity.vcorreoEmail }}</td>
                <td>{{ entity.vtelfLocal }}</td>
                <td>{{ entity.vtelfMovil }}</td>
                <td>{{ entity.vcargo }}</td>
                <td>{{ entity.vdepartamento }}</td>
                <td>{{ entity.vsucursal }}</td>
                <td>{{ entity.vclave }}</td>
                <td>{% if entity.dfechaRegistro %}{{ entity.dfechaRegistro|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('Registro_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('Registro_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('Registro_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
