{% extends '::layout.html.twig' %}

{% block content %}
<h1><strong>Confirmación de Solicitud de Registro de Clientes</strong></h1>
<br><br>
<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
<h1>Consulta de Solicitudes de Registro</h1>
<form action="{{ path('Registro_search') }}" method="post" id="login" novalidate>
    
    {{ form_start(search_form) }}
    {{ form_errors(search_form) }}
    <table border="1" cellpadding="1" cellspacing="1">
        <tr>
    <td>
        
        {{ form_row(search_form.pkIci, {'label': 'Cédula:'}) }}<br>
        {{ form_row(search_form.vcargo,  {'label': 'Cargo:'}) }}<br>
        <ul class="contratos" data-prototype="{{ form_widget(search_form.contratos.vars.prototype)|e }}">
        
         {% for usuariocontrato in search_form.contratos %}
             <li>
                 <div style="display: none;">
                     {{ form_row(usuariocontrato.fkIci) }}       
                 </div>
                {{ form_row(usuariocontrato.fkInroContrato) }}       
                {{ form_row(usuariocontrato.tbdetcontratorif) }}       
            </li>
        {% endfor %}
    
        </ul>
        
    </td>
    <td width="10"></td>
    <td>
        {{ form_row(search_form.vnombre,  {'label': 'Nombre:'}) }}<br>
        {{ form_row(search_form.vsucursal, {'label': 'Sucursal:'}) }}<br>
        {{ form_row(search_form.dfechaRegistro) }}<br>
            
            </td>
    <td width="10"></td>
    <br>    
    <td>
       {{ form_row(search_form.vapellido,  {'label': 'Apellido'}) }}<br>
       {{ form_row(search_form.usuarioacceso.fkIidEstatus,{'label': 'Estatus:'}) }}<br>
     {{ form_row(search_form.usuarioacceso.fkIidRol, {'label': 'Rol:'}) }}<br>    
        </td>
     </tr>
     <tr>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
     <td align="right"> 
        <button type="submit" class="sf-button">
            <span class="border-l">
                <span class="border-r">
                    <span class="btn-bg">Buscar</span>
                </span>
            </span>
        </button>
     </td>
     </tr>
    <br>
    <!--Campos ocultos -->
    <div style="display: none;">
        
        {{ form_row(search_form.vrif) }}
        {{ form_row(search_form.vcontrato) }}
        {{ form_row(search_form.vclave) }}
        
        {{ form_row(search_form.usuarioacceso.fkIci) }}
        {{ form_row(search_form.vcorreoEmail,  {'label': 'Correo:'}) }}
        {{ form_row(search_form.submit, { 'label': 'Buscar' }) }}  
        {{ form_row(search_form.vdepartamento,  {'label': 'Departamento'}) }}
        {{ form_row(search_form.vtelfLocal,  {'label': 'Telf-Local'}) }}
        {{ form_row(search_form.vtelfMovil,  {'label': 'Telf-Movil'}) }}
        {{ form_row(search_form.vtipoCi, {'label': 'Tipo-CI:'}) }}
    </div>    
    
    
    </table>
    
    {{ form_end(search_form) }}
</form>


<br>

<h1>Listado de Solicitudes de Registro</h1>
<br><br>
    <table class="records_list">
        <thead>
            <tr>
                <th>Id.</th>
                <th>Cedula</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Cargo</th>
                <th>Sucursal</th>
                <th>Contratos</th>
                <th>Estatus Actual</th>
                <th>Fecha de Registro</th>
                <th>Rol Sistema</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('Registro_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.pkIci }}</td>
                <td>{{ entity.vnombre }}</td>
                <td>{{ entity.vapellido }}</td>
                <td>{{ entity.vcargo }}</td>
                <td>{{ entity.vsucursal }}</td>
                <td>{% for contrato in entity.contratos  %}
                      
                    <a href="{{ path('Contratos_show', { 'id': contrato.fkInroContrato.id }) }}">{{ contrato.fkInroContrato.pkInroContrato }}</a>
                   {% endfor %}
                </td>
                <td>{{ entity.usuarioacceso.fkIidEstatus }}</td>
                <td>{% if entity.dfechaRegistro %}{{ entity.dfechaRegistro|date('d-m-Y H:i') }}{% endif %}</td>
                <td>{{ entity.usuarioacceso.fkIidRol }}</td>
                <td>
                <ul>
                    <li>
                        <!--a href="{{ path('Registro_show', { 'id': entity.id }) }}">Ver</a-->
                    </li>
                    <li>
                        <a href="{{ path('Registro_edit', { 'id': entity.id }) }}">Ver/Editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<br>
        <ul>
        <li>
            <a href="{{ path('Registro_new') }}">
                Realizar Solicitud de Registro de Cliente
            </a>
        </li>
    </ul>
<script>
        $(function(){
         $(document).on('change', '.tbdetcontratorif_selector', function(){
             //alert("Han cambiado mi valor");
             var $this = $(this);
             var $arreglo=$this.attr("id");
             var $val=$arreglo.split('_')[4];
             
             var data = {
                 tbdetcontratorif_id: $this.val()
             };

             $.ajax({
                  type: 'post',
                  url: '{{ path("rifs") }}',
                  data: data,
                  dataType: 'json',
                  success: function(data,val) {
                      if (data.error !== undefined && data.error != '') {
                          alert(data.error);
                      } else {
                          var $tbdetempresa_selector = $this.closest('.contratos').find('.tbdetempresa_selector');
                         
                         // alert("Han cambiado mi valor"+ $val);
                           $("#tech_tbundle_tbdetusuariodatos_contratos_"+$val+"_tbdetcontratorif").html('<option>Rif</option>');
                            $("#tech_tbundle_tbdetusuariodatos_contratos_"+$val+"_tbdetcontratorif").append('<option value="'+data.id +'" selected="selected">'+data.name+'</option>'); 	
                         
                    }
                    },
                  error: function(e, ts, et) { alert(ts) }
              });
        
              
              });
                        
                        });
              
              
    </script>
    {% endblock %}
