{% extends '::layout.html.twig' %}

{% block content %}

{% for flashMessage in app.session.flashbag.get('flash_info') %}
<div class="isa_info">
        {{ flashMessage }}
    </div>
<br><br>
{% endfor %}
 

{% for flashMessage in app.session.flashbag.get('flash_warning') %}
<div class="isa_warning">
        {{ flashMessage }}
    </div>
<br><br>
{% endfor %}
 


{% for flashMessage in app.session.flashbag.get('flash_error') %}
<div class="isa_error">
        {{ flashMessage }}
    </div>
<br><br>
{% endfor %}
 


{% for flashMessage in app.session.flashbag.get('flash_success') %}
<div class="isa_success">
        {{ flashMessage }}
    </div>
<br><br>
{% endfor %}
 

  
<h1>Solicitud de Registro de Cliente</h1>

<div class="container" >

    <section class="register">
        <br>
        <h1>Ingrese los siguientes datos:</h1>
        <br>
        <form action="{{ path('Registro_create') }}" method="post" >
              {{ form_start(form) }}
        {{ form_errors(form) }}  
            <table>

                <td>  
                    <div class="error">
                    </div>
                    
                    
                    <div class="error">
                        {{ form_errors(form.pkIci) }}</div>       
                    <table>  <td width="100">
                    {{ form_label(form.pkIci, 'Cédula:') }}</td>
                        <td>{{ form_widget(form.pkIci) }}</td>
                    </table>




                    <div class="error">{{ form_errors(form.vcorreoEmail) }}</div>
                    <table>  <td width="100">
        {{ form_label(form.vcorreoEmail, 'Correo:') }}</td><td>
        {{ form_widget(form.vcorreoEmail) }}<br></td></table>



                    <div class="error">
                {{ form_errors(form.vcargo) }}</div>
                    <table>  <td width="100">
                {{ form_label(form.vcargo, 'Cargo:') }}</td><td>
                {{ form_widget(form.vcargo) }}<br></td></table>
                            <div class="error">
                {{ form_errors(form.vcontrato) }}</div>
                    <table>  
                        <td width="100">{{ form_label(form.vcontrato, 'Contrato:') }}</td><td>
                {{ form_widget(form.vcontrato) }}<br><br></td></table>

                </td>
                <td width="20"></td>
                <td>

                 
                    <div class="error"> {{ form_errors(form.vnombre) }} </div>
                    <table>  <td width="100"> {{ form_label(form.vnombre, 'Nombre:') }}<td>
                        <td> {{ form_widget(form.vnombre) }}</td>
                    </table>
                    <div class="error">{{ form_errors(form.vtelfLocal) }}</div>
                    <table>  
                        <td width="100">{{ form_label(form.vtelfLocal, 'Telf-Local:') }}</td>
                        <td> {{ form_widget(form.vtelfLocal) }}</td></table>
                    <div class="error"> {{ form_errors(form.vdepartamento) }}</div>
                    <table>
                        <td width="100">{{ form_label(form.vdepartamento, 'Dpto: ') }}</td>
                        <td>{{ form_widget(form.vdepartamento) }}<br></td></table>




                    <div class="error">
            {{ form_errors(form.vrif) }}</div>
                    <table>  <td width="100">
        {{ form_label(form.vrif, 'Rif:') }}</td><td>
        {{ form_widget(form.vrif) }}<br><td></table>

                    <div style="display: none;">
                        <ul class="contratos" data-prototype="{{ form_widget(form.contratos.vars.prototype)|e }}">


         {% for usuariocontrato in form.contratos %}
                            <li> 


                    {{ form_row(usuariocontrato.tbdetcontratorif, {'label': 'Contrato: '}) }}
                {{ form_row(usuariocontrato.fkIci) }}       
                                    {{ form_row(usuariocontrato.fkInroContrato) }} 

                            </li>    
        {% endfor %}
                        </ul>

                    </div>
                </td>
                <td width="20"></td>
                <td>
             <div class="error">{{ form_errors(form.vapellido) }}</div>
                    <table>  <td width="100">
        {{ form_label(form.vapellido, 'Apellido:') }}</td><td>
        {{ form_widget(form.vapellido) }}</td></table>

                    <div class="error">
        {{ form_errors(form.vtelfMovil) }}</div>
                    <table>  <td width="100">
        {{ form_label(form.vtelfMovil, 'Telf-Movil:') }}</td><td>
        {{ form_widget(form.vtelfMovil) }}<br></td></table>
                    <div class="error">
            {{ form_errors(form.vsucursal) }}</div>
                    <table>  <td width="100">
        {{ form_label(form.vsucursal, 'Sucural:') }}</td>
                        <td>
        {{ form_widget(form.vsucursal) }}<br></td>
                    </table>
        <table>  <td width="100">
        {{ form_label(form.usuarioacceso.fkIidRol, 'Rol:') }}</td><td>
        {{ form_widget(form.usuarioacceso.fkIidRol,{'required': 'true'}) }}<br></td></table>
                    
        
                    <!--Campos ocultos -->
                    <div style="display: none;">
        {{ form_row(form.vtipoCi, {'label': 'Tipo-Doc:','required' : 'false'})}}
        {{ form_row(form.usuarioacceso.fkIci) }}
        {{ form_row(form.usuarioacceso.fkIidEstatus) }}
        {{ form_row(form.vclave) }}
        {{ form_row(form.dfechaRegistro) }}

        {{ form_row(form.submit, { 'label': 'Registrar' }) }}        

                    </div>

                </td>
                <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <p class="submit">   
                        <input type="submit" name="commit" value="Registrar">
                </td>
                </tr>
                {{ form_end(form) }} 
            </table>       
        </form>  
    </section>
</div>




{% endblock %}
