{% extends '::layout.html.twig' %}

{% block content %}

{% for flashMessage in app.session.flashbag.get('flash_info') %}
<div class="isa_info">
        {{ flashMessage }}
    </div>

{% endfor %}
 

{% for flashMessage in app.session.flashbag.get('flash_warning') %}
<div class="isa_warning">
        {{ flashMessage }}
    </div>

{% endfor %}
 


{% for flashMessage in app.session.flashbag.get('flash_error') %}
<div class="isa_error">
        {{ flashMessage }}
    </div>

{% endfor %}
 


{% for flashMessage in app.session.flashbag.get('flash_success') %}
<div class="isa_success">
        {{ flashMessage }}
    </div>

{% endfor %}
 

  
<h1 class="title">Registro de Cliente</h1>

<div class="container" >

    <section class="register">
        <br>
        <h1>Ingrese los siguientes datos:</h1>
        <br>
        <form action="{{ path('Registro_create') }}" method="post" >
              {{ form_start(form) }}
        {{ form_errors(form) }}  
   
        <table>

                <td>                      
                    <table>  <td width="100">
        {{ form_label(form.usuarioacceso.fkIidRol, 'Tipo Usuario:') }}</td><td>
        {{ form_widget(form.usuarioacceso.fkIidRol,{'required': 'true'}) }}<br></td></table>
                    <div class="error">
                        {{ form_errors(form.pkIci) }}</div>       
                    <table>  <td width="100">
                    {{ form_label(form.pkIci, 'Cédula:') }}</td>
                        <td>{{ form_widget(form.pkIci) }}</td>
                    </table>

                    <div class="error"> {{ form_errors(form.vnombre) }} </div>
                    <table>  <td width="100"> {{ form_label(form.vnombre, 'Nombre:') }}<td>
                        <td> {{ form_widget(form.vnombre) }}</td>
                    </table>


                   <div class="error">{{ form_errors(form.vapellido) }}</div>
                    <table>  <td width="100">
        {{ form_label(form.vapellido, 'Apellido:') }}</td><td>
        {{ form_widget(form.vapellido) }}</td></table>



            <div id='valias' style="display: none;">
                     <div class="error">{{ form_errors(form.valias) }}</div>
                    <table>  <td width="100">
        {{ form_label(form.valias, 'Alias:') }}</td><td>
        {{ form_widget(form.valias) }}<br><br>  </td></table>

            </div>
                </td>
                <td width="40"></td>
                <td>
                    
                    <div class="error">
                {{ form_errors(form.vcargo) }}</div>
                    <table>  <td width="100">
                {{ form_label(form.vcargo, 'Cargo:') }}</td><td>
                {{ form_widget(form.vcargo) }}<br></td></table>
                    <div class="error">
                {{ form_errors(form.vcontrato) }}</div>
                    <table>  
                        <td width="100">{{ form_label(form.vcontrato, 'Contrato:') }}</td><td>
                {{ form_widget(form.vcontrato) }}</td></table>
                         
                      <div class="error">{{ form_errors(form.vcorreoEmail) }}</div>
                    <table>  <td width="100">
        {{ form_label(form.vcorreoEmail, 'Correo:') }}</td><td>
        {{ form_widget(form.vcorreoEmail) }}<br></td></table>
                 
                    
                    <div class="error">{{ form_errors(form.vtelfLocal) }}</div>
                    <table>  
                        <td width="100">{{ form_label(form.vtelfLocal, 'Telf-Local:') }}</td>
                        <td> {{ form_widget(form.vtelfLocal) }}</td></table>
                    
                    <div style="display: none;">
                        <ul class="contratos" data-prototype="{{ form_widget(form.contratos.vars.prototype)|e }}">


         {% for usuariocontrato in form.contratos %}
                            <li> 


                    {{ form_row(usuariocontrato.tbdetcontratorif, {'label': 'Contrato: '}) }}
                {{ form_row(usuariocontrato.fkIci) }}       
                                    {{ form_row(usuariocontrato.fkInroContrato) }} 

                            </li>    
        {% endfor %}
                        </ul>

                    </div>
                </td>
                <td width="40"></td>
                <td>
            
<div class="error"> {{ form_errors(form.vdepartamento) }}</div>
                    <table>
                        <td width="100">{{ form_label(form.vdepartamento, 'Dpto: ') }}</td>
                        <td>{{ form_widget(form.vdepartamento) }}<br></td></table>




                    <div class="error">
            {{ form_errors(form.vrif) }}</div>
                    <table>  <td width="100">
        {{ form_label(form.vrif, 'Rif:') }}</td><td>
        {{ form_widget(form.vrif) }}<br><td></table>

                    <div class="error">
        {{ form_errors(form.vtelfMovil) }}</div>
                    <table>  <td width="100">
        {{ form_label(form.vtelfMovil, 'Telf-Movil:') }}</td><td>
        {{ form_widget(form.vtelfMovil) }}<br></td></table>
                    <div class="error">
            {{ form_errors(form.vsucursal) }}</div>
                    <table>  <td width="100">
        {{ form_label(form.vsucursal, 'Sucursal:') }}</td>
                        <td>
        {{ form_widget(form.vsucursal) }}<br></td>
                    </table>
      
           
        
        
                    <!--Campos ocultos -->
                    <div style="display: none;">
        {{ form_row(form.vtipoCi, {'label': 'Tipo-Doc:','required' : 'false'})}}
        {{ form_row(form.usuarioacceso.fkIci) }}
        {{ form_row(form.usuarioacceso.fkIidEstatus) }}
        {{ form_row(form.vclave) }}
        {{ form_row(form.dfechaRegistro) }}

        {{ form_row(form.submit, { 'label': 'Registrar' }) }}        

                    </div>

                </td>
                <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td><td></td>
                <td>
                    <p class="submit">   
                        <input type="submit" name="commit" value="Registrar">
                </td>
                </tr>
                {{ form_end(form) }} 
            </table>       
        </form>  
    </section>
</div>
<script>
    $(function() {
        
        var $value=$('#tech_tbundle_tbdetusuariodatos_usuarioacceso_fkIidRol').val();
        if ($value==='6' || $value==='7'
                 || $value==='8' || $value==='9'){
            $('#valias').removeAttr("style");
            $('#valias').prop('required',true);
            $('#tech_tbundle_tbdetusuariodatos_vcontrato').prop('required',false);
            $('#tech_tbundle_tbdetusuariodatos_vrif').prop('required',false);
            $('#tech_tbundle_tbdetusuariodatos_vcontrato').prop('disabled',true);
            $('#tech_tbundle_tbdetusuariodatos_vrif').prop('disabled',true);
            
         }else{
             $('#valias').hide();
             $('#valias').prop('required',false);
            $('#tech_tbundle_tbdetusuariodatos_vcontrato').prop('required',true);
            $('#tech_tbundle_tbdetusuariodatos_vrif').prop('required',true);
            $('#tech_tbundle_tbdetusuariodatos_vcontrato').prop('disabled',false);
            $('#tech_tbundle_tbdetusuariodatos_vrif').prop('disabled',false);
            
         }
       $(document).on('change', '#tech_tbundle_tbdetusuariodatos_usuarioacceso_fkIidRol', function() {
         var $this = $(this);
         var $value=$this.val();
         //alert('VALUE:'+$this.val());
         if ($value==='6' || $value==='7'
                 || $value==='8' || $value==='9'){
            $('#valias').removeAttr("style");
            $('#valias').prop('required',true);
            $('#tech_tbundle_tbdetusuariodatos_vcontrato').prop('required',false);
            $('#tech_tbundle_tbdetusuariodatos_vrif').prop('required',false);
            $('#tech_tbundle_tbdetusuariodatos_vcontrato').prop('disabled',true);
            $('#tech_tbundle_tbdetusuariodatos_vrif').prop('disabled',true);
            
         }else{
             $('#valias').hide();
             $('#valias').prop('required',false);
            $('#tech_tbundle_tbdetusuariodatos_vcontrato').prop('required',true);
            $('#tech_tbundle_tbdetusuariodatos_vrif').prop('required',true);
            $('#tech_tbundle_tbdetusuariodatos_vcontrato').prop('disabled',false);
            $('#tech_tbundle_tbdetusuariodatos_vrif').prop('disabled',false);
            
         }
         
        });
    });
</script>



{% endblock %}
