{% extends '::layout.html.twig' %}

{% block content %}
    <h1>Datos Personales</h1>
<br><br>
    <table class="record_properties">
        <tbody>
      
            <tr>
                <th>Cedula: </th>
                <td>{{ entity.pkIci }}</td>
            </tr>
            <tr>
                <th>Nombre: </th>
                <td>{{ entity.vnombre }}</td>
            </tr>
            <tr>
                <th>Apellido: </th>
                <td>{{ entity.vapellido }}</td>
            </tr>
            <tr>
            <th>Correo: </th>
                <td>{{ entity.vcorreoEmail }}</td>
            </tr>
            <tr>
                <th>Telf-Local: </th>
                <td>{{ entity.vtelfLocal }}</td>
            </tr>
            <tr>
                <th>Telf-Movil: </th>
                <td>{{ entity.vtelfMovil }}</td>
            </tr>
            <tr>
                <th>Cargo: </th>
                <td>{{ entity.vcargo }}</td>
            </tr>
            <tr>
                <th>Departamento: </th>
                <td>{{ entity.vdepartamento }}</td>
            </tr>
            <tr>
                <th>Sucursal: </th>
                <td>{{ entity.vsucursal }}</td>
            </tr>
            
            <tr>
                <th>Fecha-Registro: </th>
                <td>{{ entity.dfechaRegistro|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>
<br><br>
{% if (app.session.get('usuario_rol')=="Empleado") %}
                        
        <ul class="record_actions">
            <li>
        <a href="{{ path('Registro_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <br><br>
    <li>
        <a href="{{ path('Registro') }}">
             Volver Listado de Solicitudes de Registro
        </a>
    </li>
    
    
    <li>   
                <div style="display: none;">{{ form(delete_form) }}</div></li>
</ul>
{% endif %}
{% endblock %}

     