{% extends '::layout.html.twig' %}

{% block content %}

{% for flashMessage in app.session.flashbag.get('flash_info') %}
<div class="isa_info">
        {{ flashMessage }}
    </div>
{% endfor %}
 

{% for flashMessage in app.session.flashbag.get('flash_warning') %}
<div class="isa_warning">
        {{ flashMessage }}
    </div>
{% endfor %}
 


{% for flashMessage in app.session.flashbag.get('flash_error') %}
<div class="isa_error">
        {{ flashMessage }}
    </div>
{% endfor %}
 


{% for flashMessage in app.session.flashbag.get('flash_success') %}
<div class="isa_success">
        {{ flashMessage }}
    </div>
{% endfor %}
 

  
<br>
<h1>Confirmación de Registro</h1>
<br><br>
    <table class="record_properties">
    
      <tr><h1>Datos Registrados</h1>
        <br><br>
            <tr>
            <td width="210" height="20">Cedula: </td>
                <td>{{ entity.pkIci }}</td>
            </tr>
            
            <tr>
            <td height="20">Nombre: </td>
            <td><em> {{ entity.vnombre }}</em></td>
                <td></td>
            </tr>
            <tr>
                <td height="20">Apellido: </td>
                <td><em>{{ entity.vapellido }}</em></td>
            </tr>
            <tr>
            <td height="20">Correo: </td>
            <td><em>{{ entity.vcorreoEmail }}</em></td>
            </tr>
            <tr>
                <td height="20">Telefono Local: </td>
                <td><em>{{ entity.vtelfLocal }}</em></td>
            </tr>
            <tr>
                <td height="20">Telefono Movil: </td>
                <td><em>{{ entity.vtelfMovil }}</em></td>
            </tr>
            <tr>
                <td height="20">Cargo: </td>
                <td><em>{{ entity.vcargo }}</em></td>
            </tr>
            <tr>
                <td height="20">Departamento: </td>
                <td><em>{{ entity.vdepartamento }}</em></td>
            </tr>
            <tr>
                <td height="20">Sucursal: </td>
                <td><em>{{ entity.vsucursal }}</em></td>
            </tr>
            
            <tr>
                <td height="20">Fecha Registro : </td>
                <td><em>{{ entity.dfechaRegistro|date('d-m-Y H:i:s') }}</em></td>
            </tr>
            
            <tr>
                <td height="20">Rol en el Sistema: </td>
                <td><em>{{ entity.usuarioacceso.fkIidrol.vdescripcion }}</em></td>
            </tr>
            
               <tr>
                <td height="20">Estatus en Registro: </td>
                <td><em>{{ entity.usuarioacceso.fkIidEstatus.vdescripcion }}</em></td>
            </tr>
              <tr>
                <td height="20">Contrato: </td>
                <td><em>{{app.session.get('usuario_vcontrato')}}</em></td>
            </tr>
              <tr>
                <td height="20">Rif: </td>
                <td><em>{{app.session.get('usuario_vrif')}}</em></td>
            </tr>
             
         </tr>
    
    </table>
<br><br>
{% if (app.session.get('usuario_rol')=="Empleado") %}
                        
        <ul class="record_actions">
            <li>
        <a href="{{ path('Registro_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <br><br>
    <li>
        <a href="{{ path('Registro') }}">
             Volver Listado de Solicitudes de Registro
        </a>
    </li>
    
    
    <li>   
                <div style="display: none;">{{ form(delete_form) }}</div></li>
</ul>
{% endif %}
{% endblock %}

     