
{% block content %}


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<link href="{{ asset('bundles/techt/css/rating.css') }}" rel="stylesheet" type="text/css" media="screen" />     
<script src="{{ asset('bundles/techt/js/rate.js') }}" type="text/javascript"></script>
    


    
    
<div class="popup_container" >

    <section width="200px" class="popup">
        <h1>Calificacion de Servicio (&#9733;) </h1>
        <div>
        <table>
        <tr><td>Pregunta N.1 : </td><td><div id="star1" class="rating" >&nbsp;</div></td>            </tr>
        <tr><td>Pregunta N.2 : </td><td><div id="star2" class="rating" >&nbsp;</div></td>            </tr>
                
        <noscript>&#9733;ec-stars-wrapperNecesita tener habilitado javascript para poder votar</noscript>
        </table>
            </div>
    </section>
        
</div>
       <script type="text/javascript">
       $(document).ready(function() {

$('#star1').rate({maxvalue: '{{maxvalue}}', curvalue:'{{curvalue}}', id:'{{iid}}',iid: '{{iid_solicitud}}',id_preg: 1, path:'/CalidadServicio/getcalif', path2: '/CalidadServicio/calif'});
$('#star2').rate({maxvalue: '{{maxvalue}}', curvalue:'{{curvalue}}', id:'{{iid}}',iid: '{{iid_solicitud}}',id_preg: 2, path:'/CalidadServicio/getcalif', path2: '/CalidadServicio/calif'});
});


</script>
    {% endblock %}
