{% extends '::layout.html.twig' %}

{% block content %}
<h1>Editar Contrato</h1>
<div class="container" >

    <section class="register">

        <h1>Edición de Contrato: <strong> {{entity.pkInroContrato }}</strong></h1>
        
        <form action="{{ path('Contratos_update',{ 'id': entity.id }) }}" method="post" id="login">
{{ form_start(edit_form) }}
        {{ form_errors(edit_form) }}
               <div class="error">
                        {{ form_errors(edit_form.pkInroContrato) }}</div>       
                    <table>  <td width="100">
                    {{ form_label(edit_form.pkInroContrato, 'Contrato:', {'required': 'true'}) }}</td>
                        <td>{{ form_widget(edit_form.pkInroContrato) }}</td>
                    </table>
                <div class="error">
                        {{ form_errors(edit_form.fkIrif) }}</div>       
                    <table>  <td width="100">
                    {{ form_label(edit_form.fkIrif, 'Rif:', {'required': 'true'}) }}</td>
                        <td>{{ form_widget(edit_form.fkIrif) }}</td>
                    </table>
            
            <div style="display: none;">

                {{ form_row(edit_form.submit, { 'label': 'Editar' }) }}
            </div>

            <p class="submit">   
                <input type="submit" name="commit" value="Editar">
            </p>

{{ form_end(edit_form) }}
        </form>
    </section>
</div>

<ul class="record_actions">
    
    <li>
        <a href="{{ path('Contratos') }}">
            <h4> Volver a  Lista de Contratos </h4>
        </a>
    </li>




</ul>
{% endblock %}
