{% extends '::layout.html.twig' %}

{% block content %}
<h1>Editar Contrato</h1>
<div class="container" >

    <section class="register">

        <h1>Edición de Contrato</h1>
        
        <form action="{{ path('Contratos_update',{ 'id': entity.id }) }}" method="post" >
            <table>
                
{{ form_start(edit_form) }}
        {{ form_errors(edit_form) }}
                
                <td>
               <div class="error">
                        {{ form_errors(edit_form.pkInroContrato) }}</div>       
                    <table>  <td width="100">
                    {{ form_label(edit_form.pkInroContrato, 'Contrato:', {'required': 'true'}) }}</td>
                        <td>{{ form_widget(edit_form.pkInroContrato) }}</td>
                    </table>
                    
                    
                         <div class="error">
                        {{ form_errors(edit_form.vdns) }}</div>       
                    <table><td width="100">
                    {{ form_label(edit_form.vdns, 'DNS:', {'required': 'true'}) }}</td>
                        <td>{{ form_widget(edit_form.vdns) }}</td></table>
                    </td>
                    <td width="20"></td>
                    <td>
                <div class="error">
                        {{ form_errors(edit_form.fkIrif) }}</div>       
                    <table>  <td width="100">
                    {{ form_label(edit_form.fkIrif, 'Rif:', {'required': 'true'}) }}</td>
                        <td>{{ form_widget(edit_form.fkIrif) }}</td>
                    </table>
                           <div class="error">
                        {{ form_errors(edit_form.vubicacionfisica) }}</div>       
                 <table>   <td width="100">
                    {{ form_label(edit_form.vubicacionfisica, 'Ubicación Física:', {'required': 'true'}) }}</td>
                        <td>{{ form_widget(edit_form.vubicacionfisica) }}</td></table>
                    
            </td>
            <td width="20"></td>
            <td>
                    <div class="error">
                        {{ form_errors(edit_form.valias) }}</div>       
                   <table> <td width="100">
                    {{ form_label(edit_form.valias, 'Alias:', {'required': 'true'}) }}</td>
                        <td>{{ form_widget(edit_form.valias) }}</td> </table>
            
                </td>
            
            <div style="display: none;">

                {{ form_row(edit_form.submit, { 'label': 'Editar' }) }}
            </div>
            
                <tr>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>
            <p class="submit">   
                <input type="submit" name="commit" value="Editar">
            </p>
            </td>
            </tr>
{{ form_end(edit_form) }}
            </table>
        </form>
    </section>
</div>

<ul class="record_actions">
    
    <li>
        <a href="{{ path('Contratos') }}">
            <h4> Volver a  Lista de Contratos </h4>
        </a>
    </li>




</ul>
{% endblock %}
