{% extends '::layout.html.twig' %}

{% block content -%}

    <h1>Listado de Contratos</h1>
    <div class="container" >

    <section class="register">
<br><br>
    <table class="records_list">
        <thead>
            <tr>
                
            <td height="40"><strong>Nro-Contrato</strong></td>
                <td width="60"><td>
                <td><strong>Nro-Rif</strong></td>
                <td width="60"><td>
                <td><strong>Dirección Fiscal</strong></td>
                <td width="60"><td>
                <td><strong>Acciones</strong></td>
            </tr>
            
        </thead>
        
        <tbody>
            
        {% for entity in entities %}
            
            <tr>
               
                <td>{{ entity.pkInroContrato }}</td>
                <td width="60"><td>
                <td>{{ entity.fkIrif }}</td>
                <td width="60"><td></td>
                <td>{{ entity.fkIrif.vdireccionFiscal }}</td>
                <td width="60"><td></td>
                <td>
                <ul>
                    
                    <li>
                        <a href="{{ path('Contratos_edit', { 'id': entity.id }) }}">Ver/Editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<br>
</section>
        </div>
    <br>
        <ul>
        <li>
            <a href="{{ path('Contratos_new') }}">
                Crear Nuevo Contrato
            </a>
        </li>
    </ul>
    {% endblock %}
