{% extends '::layout.html.twig' %}

{% block content -%}
    <h1>Creación de Contrato </h1>
    
    <div class="container" >

    <section class="register">
        
        <form action="{{ path('Contratos_create') }}" method="post" id="login">
            <table>
        {{ form_start(form) }}    
        {{ form_errors(form) }}
                <tr>
                <td>
                    
               <div class="error">
                        {{ form_errors(form.pkInroContrato) }}</div>       
                   <table>   <td width="200">
                    {{ form_label(form.pkInroContrato, 'Contrato:', {'required': 'true'}) }}</td>
                        <td>{{ form_widget(form.pkInroContrato) }}</td></table>
                    </td>
                    <td width="20"></td>
                    <td>
                        
                <div class="error">
                        {{ form_errors(form.fkIrif) }}</div>       
                   <table> <td width="100">
                    {{ form_label(form.fkIrif, 'Rif:', {'required': 'true'}) }}</td>
                        <td>{{ form_widget(form.fkIrif) }}</td></table>
                        </td>
            <td width="20"></td>
            <td>
            <div class="error">
                        {{ form_errors(form.vdns) }}</div>       
                    <table><td width="100">
                    {{ form_label(form.vdns, 'DNS:', {'required': 'true'}) }}</td>
                        <td>{{ form_widget(form.vdns) }}</td></table>
                    </td>
                    
            
            
            </tr>
            <tr>
                    <td>    
                <div class="error">
                        {{ form_errors(form.vubicacionfisica) }}</div>       
                 <table>   <td width="100">
                    {{ form_label(form.vubicacionfisica, 'Ubicación:', {'required': 'true'}) }}</td>
                        <td>{{ form_widget(form.vubicacionfisica) }}</td></table>
                    
            </td>
            
            <td width="20"></td>
            <td>
                    
                
                    <div class="error">
                        {{ form_errors(form.valias) }}</div>       
                   <table> <td width="100">
                    {{ form_label(form.valias, 'Alias:', {'required': 'true'}) }}</td>
                        <td>{{ form_widget(form.valias) }}</td> </table>
            
                    
              </td>
              </tr>
              <td width="20"></td>
              <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
              <td>
            <p class="submit">   
                <input type="submit" name="commit" value="Crear">
      </p>
      </td>
      </tr>
      <div style="display: none;">
        {{ form_row(form.submit, { 'label': 'Crear' }) }}
        
        </div>
      
        
        {{ form_end(form) }}
      </table>
    </form>
        
</section>
    </div>
    <br><br>
        <ul class="record_actions">
            
    <li>
        <a href="{{ path('Contratos') }}">
            Lista de Contratos
        </a>
    </li>
</ul>
{% endblock %}
    
