{% extends '::layout.html.twig' %}

{% block content -%}
    <h1><strong> Vista de Contrato </strong> </h1>
    
    <div class="container" >

    <section class="register">
    <h1>Contrato:   <strong>{{ entity.pkInroContrato }}</strong> </h1>
<br><br>

    <table class="record_properties">
            <tr>
                <td>Nro-Contrato:   </td>
                <td width="20"></td>
                <td>{{ entity.pkInroContrato }}<br>
            </tr>
                <tr><td height="20"> </td></tr>
            <tr>
                <td>Rif Asociado: </td>
                <td width="20"></td>
                <td>{{ entity.fkIrif }}</td>
                
            </tr>
              <tr>
                <td>Alias: </td>
                <td width="20"></td>
                <td>{{ entity.valias }}</td>
                
            </tr>
              <tr>
                <td>Domain Name Server: </td>
                <td width="20"></td>
                <td>{{ entity.vdns }}</td>
                
            </tr>
              <tr>
                <td>Ubicación Física: </td>
                <td width="20"></td>
                <td>{{ entity.vubicacionfisica }}</td>
                
            </tr>
       
    </table>
     
<br><br>



 </section>
        </div><br><br>
        <ul class="record_actions">
            <li>
        <a href="{{ path('Contratos_edit', { 'id': entity.id }) }}">
            Editar Contrato
        </a>
    </li>
       
    <li>
        <a href="{{ path('Contratos') }}">
            Volver a Lista de Contratos
        </a>
    </li>
    <li>
        <a href="{{ path('Registro') }}">
            Volver a Lista de Solicitudes
        </a>
    </li>
    
    
    
</ul>
   
    {# ... #}
 
{# ... #}

{% endblock %}
