<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href="{{ asset('bundles/framework/css/structure.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset('bundles/framework/css/body.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset('bundles/techt/css/style.css') }}" rel="stylesheet" type="text/css" media="screen" />
        <link href="{{ asset('bundles/techt/css/ionic.css') }}" rel="stylesheet" type="text/css" media="screen" />
        <script src="{{ asset('bundles/techt/js/prefix-free.js"') }}"></script>
        {% block head %}{% endblock %}
    </head>
    <body>

        <div id="content">
            <div class="header clear-fix">
                <div class="header-logo">
                    
                </div>
                           <div class="sf-reset">
                	<div class="wrap">
	
	<nav>
		<ul class="menu">
			<li><a href="{{path('index')}}"><span class="iconic home"></span> Inicio</a></li>
			<li><a href="#"><span class="iconic plus-alt"></span> Clientes</a>
				<ul>
					<li><a href="{{ path('Registro_new') }}">Registrarse</a></li>
				</ul>
			</li>
			<li><a href="#"><span class="iconic magnifying-glass"></span> Empleados</a>
				<ul>
					<li><a href="{{ path('Registro') }}">Registros</a></li>
					<li><a href="{{ path('Contratos') }}">Contratos</a></li>
					<li><a href="{{ path('Empresa') }}">Empresas</a></li>
					
				</ul>
			</li>
			
		</ul>
		<div class="clearfix"></div>
	</nav>
	</div>
 
 
                {% block body %}
                {% endblock %}
            </div>
        </div>
            </div>
    </body>
</html>