<!DOCTYPE html>
<html lang="es"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"><meta name="description" 
                                                                                    content="">   
        <title>{% block title %}Inicio | Techtrol Website{% endblock %}</title>

        <link href="{{ asset('bundles/techt/css/structure.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset('bundles/techt/css/custom-style.css') }}" rel="stylesheet" type="text/css" media="screen" />
        <link href="{{ asset('bundles/techt/css/body.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset('bundles/techt/css/style.css') }}" rel="stylesheet" type="text/css" media="screen" />
        <link href="{{ asset('bundles/techt/css/styleform.css') }}" rel="stylesheet" type="text/css" media="screen" />
        <script src="{{ asset('bundles/techt/js/jquery-2.1.0.min.js') }}" type="text/javascript"></script>
        <link href="{{ asset('bundles/techt/css/rating.css') }}" rel="stylesheet" type="text/css" media="screen" />
        <link href="{{ asset('bundles/techt/css/css2.css') }}" rel="stylesheet" type="text/css" media="screen" />
        <!--link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'-->

        <script src="{{ asset('bundles/techt/js/rate.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/techt/js/jquery-1.4.2.min.js') }}" type="text/javascript"></script>

        <link href="{{ asset('bundles/techt/css/565e2970627a.css') }}" rel="stylesheet" type="text/css" media="screen" />
        <link href="{{ asset('bundles/techt/css/css.css') }}" rel="stylesheet" type="text/css" media="screen" />
        <link  href="{{ asset('bundles/techt/css/style(1).css') }}" rel="stylesheet" type="text/css">
        <script src="{{ asset('bundles/techt/js/jquery.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/techt/js/jquery-ui.min.js') }}" type="text/javascript"></script>

        <script src="{{ asset('bundles/techt/js/84a4ae93bd83.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/techt/js/-Vvtx4nI8SHe_WYPalc1ijR-UNJ9GZaWikvdqm7tI20.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/techt/js/html5player.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/techt/js/jquery.modal.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/techt/js/www-embed-player.js') }}" type="text/javascript"></script>

        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

        {% block head %}
        {% endblock %}
    </head>
    <!-- --> 

    <body>                  
        <div id="body">
            <div class="wrapper">
                <div class="navbar navbar-inverse navbar-static-top">
                    <div class="container header">
                        <div class="bg">
                            <div class="row">
                                <div class="span8 branding">
                                    <a  href="./Inicio   Techtrol Website_files/Inicio   Techtrol Website.html" class="navbar-brand">
                                        <img src="/bundles/techt/images/new_logo.png" class="visible-desktop">
                                        <img src="/bundles/techt/images/logo_color.png" class="visible-mobile">
                                    </a>
                                    <div class="slogan">
                                        <div>
                                            <strong>SOMOS</strong> CONFIANZA Y COMPROMISO
                                        </div>
                                    </div>
                                </div>
                                <div class="span4 social-media">
                                    <a href="http://www.twitter.com/techtrolcctv" class="tw">
                                        <span class="fa-stack">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                    <a href="http://www.facebook.com/Techtrol" class="fb">
                                        <span class="fa-stack">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="navbar-inner">
                            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </a>
                            <div class="nav-collapse collapse">



                                <ul id="primary-menu" class="nav"><li id="primary-menu--" class="active">
                                        <a href="{{path('index')}}">Home</a></li>
                                    <li id="primary-menu-about" class=""><a href="http://www.techtrol.com.ve/about/">Quiénes Somos</a></li>
                                    <li id="primary-menu-clients" class=""><a href="http://www.techtrol.com.ve/clients/">Clientes</a></li>
                                    <li id="primary-menu-faq" class=""><a href="http://www.techtrol.com.ve/faq/">Preguntas Frecuentes</a></li>
                                    <li id="primary-menu-payment" class=""><a href="http://www.techtrol.com.ve/payment/">Mis cuentas</a></li>
                                    <li id="primary-menu-contact" class=" last"><a href="{{ path('PersonaPotencial_new') }}">Contacto</a></li>
                                </ul>

                            </div>


                        </div>

                    </div>



                </div>

                <div class="container">
                    <!-- Start css3menu.com BODY section -->
                    <ul id="css3menu1" class="topmenu" style="width:180px;">

                        <li  class="topmenu"><a href="{{path('index')}}" title="Ir al Inicio" style="width:180px;"><img src="" alt="">Inicio</a></li>
                                {%  if(app.session.get('usuario_rol')=="Cliente") %}
                            <li class="topmenu"><a href="{{ path('Registro_showperfil', { 'id': app.session.get('usuario_ci') }) }}" title="Ver Perfil" style="width:180px;"><span><img src="" alt="">Perfil</span></a></li>
                                    {%endif%}
                         {% if(app.session.get('usuario_rol')=="Coordinador PMO") %}
                         <li class="topmenu"><a href="#" title="Proyectos" style="width:180px;"><span><img src="" alt="">Proyectos</span></a>
                                <ul>
                                   
                                    <li><a href="{{ path('Cotizacion') }}" title="Listado de Proyectos Asignados"><img src="" alt="">Proyectos Asignados</a></li>
                                     <li><a href="{{ path('Asignacion') }}" title="Listado de Obras Asignadas"><img src="" alt="">Obras Asignadas</a></li>
                                </ul>
                         </li>
                        {%endif%}
                        {% if(app.session.get('usuario_rol')=="Tecnico") %}
                         <li class="topmenu"><a href="#" title="Proyectos" style="width:180px;"><span><img src="" alt="">Proyectos</span></a>
                                <ul>
                                   <li><a href="{{ path('Cotizacion_indexTecn') }}" title="Proyectos Asignados"><img src="" alt="">Proyectos Asignados</a></li>
                                    <li><a href="{{ path('Cotizacion_indexTecnRet') }}" title="Proyectos Asignados Por Recibir"><img src="" alt="">Proyectos Asignados Por Recibir</a></li>
                                    <li><a href="{{ path('Cotizacion_indexTecnPorInst') }}" title="Proyectos Asignados Por Instalar"><img src="" alt="">Proyectos Asignados Por Instalar</a></li>
                                    <li><a href="{{ path('Cotizacion_indexTecnInst') }}" title="Proyectos Realizados"><img src="" alt="">Proyectos Realizados</a></li>
                                     
                                </ul>
                         </li>
                         <li class="topmenu"><a href="#" title="Obras" style="width:180px;"><span><img src="" alt="">Obras</span></a>
                         <ul>
                        
                        
                                     <li><a href="{{ path('Asignacion_indexTecn') }}" title="Listado de Obras Asignadas"><img src="" alt=""> Lista de Obras Asignadas</a></li>
                                     <li><a href="{{ path('Asignacion_indexTecnRet') }}" title="Obras Por Retirar de Almacen"><img src="" alt="">Obras Por Retirar de Almacen</a></li>
                                     <li><a href="{{ path('Asignacion_indexTecnPorInst') }}" title="Obras Por Instalar"><img src="" alt="">Obras Por Instalar</a></li>
                        
                        
                         
                        
                                     <li><a href="{{ path('Asignacion_indexTecnInst') }}" title="Obras Instaladas"><img src="" alt="">Obras Instaladas</a></li>
                        
                        
                        
                         </ul>
                         </li>
                        {%endif%}
                        {% if(app.session.get('usuario_rol')=="Almacenista") %}
                         <li class="topmenu"><a href="#" title="Proyectos" style="width:180px;"><span><img src="" alt="">Proyectos</span></a>
                                <ul>
                                    <li><a href="{{ path('Cotizacion_indexAlm') }}" title="Listado de Proyectos por Aprobar"><img src="" alt="">Proyectos por Aprobar</a></li>
                                    <li><a href="{{ path('Cotizacion_indexAlmAprob') }}" title="Listado de Proyectos Aprobados"><img src="" alt="">Proyectos Aprobados</a></li>
                                    
                                    
                                </ul>
                         </li>
                         <li class="topmenu"><a href="#" title="Obras" style="width:180px;"><span><img src="" alt="">Obras</span></a>
                                <ul>
                                    <li><a href="{{ path('Asignacion_indexAlm') }}" title="Listado de Obras por Aprobar"><img src="" alt="">Obras por Aprobar</a></li>
                                    <li><a href="{{ path('Asignacion_indexAlmAprob') }}" title="Listado de Obras por Aprobar"><img src="" alt="">Obras Aprobadas</a></li>
                                    
                                </ul>
                         </li>
                        {%endif%}
                        {% if(app.session.get('usuario_rol')=="Administrador") %}

                            <li class="topmenu"><a href="#" title="Usuarios" style="width:180px;"><span><img src="" alt="">Usuarios</span></a>
                                <ul>
                                    <li class="topmenu"><a href="#" title="Usuarios" style="width:180px;">Usuarios</a>
                                        <ul>
                                            <li><a href="{{ path('Registro_new') }}" title="Registrar Usuario"><img src="" alt="">Registrar Usuario</a></li>
                                            <li><a href="{{ path('Registro') }}" title="Listado de Registros"><img src="" alt="">Listado de Registros</a></li>
                                        </ul>
                                    </li>
                                    <li class="topmenu"><a href="#" title="Tecnicos" style="width:180px;">Tecnicos</a>
                                        <ul>
                                            <li><a href="{{ path('Tecnico_new') }}" title="Asociar Técnico"><img src="" alt="">Asociar Técnico</a></li>
                                            <li><a href="{{ path('Tecnico') }}" title="Listado de Técnicos"><img src="" alt="">Listado de Técnicos</a></li>
                                            <li><a href="{{ path('Asignacion') }}" title="Asignar Técnico a Obra"><img src="" alt="">Asignar Técnico a Obra</a></li>
                                            <li><a href="{{ path('Asignacion') }}" title="Asignar Técnico a Cotización"><img src="" alt="">Asignar Técnico a Cotización</a></li>
                                        </ul>
                                    </li>
                                    <li class="topmenu"><a href="#" title="Almacenistas" style="width:180px;">Almacenistas</a>
                                        <ul>
                                            <li><a href="{{ path('Almacenista_new') }}" title="Asociar Almacenista"><img src="" alt="">Asociar Almacenista</a></li>
                                            <li><a href="{{ path('Almacenista') }}" title="Listado de Almacenistas"><img src="" alt="">Listado de Almacenistas</a></li>
                                        </ul>
                                    </li>

                                </ul>
                            </li>
                            <li class="topmenu"><a href="#" title="Cotizaciones" style="width:180px;"><span><img src="" alt="">Cotizaciones</span></a>
                                <ul>
                                    <li><a href="{{ path('Cotizacion') }}" title="Listado de Contizaciones"><img src="" alt="">Listado de Contizaciones</a></li>
                                    <li><a href="{{ path('Obra') }}" title="Listado de Obras"><img src="" alt="">Listado de Obras</a></li>


                                </ul>
                            </li>


                        {% endif %}
                        {% if(app.session.get('usuario_rol')=="Empleado") %}

                            <li class="topmenu"><a href="#" title="Clientes" style="width:180px;"><span><img src="" alt="">Clientes</span></a>
                                <ul>
                                    <li><a href="{{ path('Registro_new') }}" title="Registrar Usuario"><img src="" alt="">Registrar Usuario</a></li>

                                    <li><a href="{{ path('Registro') }}" title="Listado de Registros"><img src="" alt="">Listado de Registros de Clientes</a></li>
                                </ul></li>
                            {% endif %}


                        {% if (app.session.get('usuario_rol')=="Cliente") or (app.session.get('usuario_rol')=="Empleado") or 
                        (app.session.get('usuario_rol')=="Administrador")%}

                        <li class="topmenu"><a href="#" title="Servicios" style="width:180px;"><span><img src="" alt="">Servicios</span></a>

                            {%if (app.session.get('usuario_rol')=="Cliente") %}
                                <ul>
                                    <li><a href="{{ path('SolicitudServicio_new') }}" title="Solicitar servicio"><img src="" alt="">Solicitar Servicio</a></li>

                                    <li><a href="{{ path('SolicitudServicio_indexuser') }}" title="Listado de Servicios"><img src="" alt="">Mis Servicios</a></li>
                                </ul>
                            {%else%}



                                <ul>
                                    <li><a href="{{ path('SolicitudServicio_new') }}" title="Solicitar Servicio "><img src="" alt="">Solicitar Servicio</a></li>
                                    <li><a href="{{ path('SolicitudServicio') }}" title="Listado Solicitudes de Servicio"><img src="" alt="">Listado Solicitudes de Servicio</a></li>
                                    <li><a href="{{ path('SolicitudServicio_indexday') }}" title="Listado Solicitudes de Servicio del Dia "><img src="" alt="">Solicitudes del Día </a></li>
                                </ul>


                            {%endif%} 
                        </li> 
                        {% endif %}
                            {% if (app.session.get('usuario_rol')=="Empleado") or (app.session.get('usuario_rol')=="Cliente") or (app.session.get('usuario_rol')=="Administrador")%}
                                <li class="topmenu"><a href="#" title="Ver Contratos" style="width:180px;"><span><img src="" alt="">Contratos</span></a>
                                    <ul>
                                        {%  if(app.session.get('usuario_rol')=="Cliente") %}


                                            <li><a href="{{ path('UsuariosContratos') }}" title="Mis Contratos"><img src="" alt="">Mis Contratos</a></li>
                                                {%else %}
                                            <li><a href="{{ path('Contratos_new') }}" title="Crear Contrato"><img src="" alt="">Crear Contrato</a></li>
                                            <li><a href="{{ path('Contratos') }}" title="Listado de Contratos"><img src="" alt="">Listado de Contratos</a></li>


                                        {%endif %}
                                    </ul>
                                </li>
                                {%  if(app.session.get('usuario_rol')!="Cliente") %}
                                    <li class="topmenu"><a href="#" title="Empresas" style="width:180px;"><span><img src="" alt="">Empresas</span></a>
                                        <ul>
                                            <li><a href="{{ path('Empresa_new') }}" title="Crear Empresa"><img src="" alt="">Crear Empresa</a></li>
                                            <li><a href="{{ path('Empresa') }}" title="Listado de Empresas"><img src="" alt="">Listado de Empresas</a></li>
                                        </ul>
                                    </li>

                                {%endif%}
                                {%  if(app.session.get('usuario_rol')!="Cliente" and app.session.get('usuario_rol')!="Empleado")  %}
                                    <li class="topmenu"><a href="#" title="Catalogos" style="width:180px;"><span><img src="" alt="">Catalogos</span></a>
                                        <ul>
                                            <li><a href="{{ path('EstatusCotizacion') }}" title="Estatus Cotizacion"><img src="" alt="">Estatus Cotizacion</a></li>
                                            <li><a href="{{ path('EstatusObra') }}" title="Estatus Obra"><img src="" alt="">Estatus Obra</a></li>
                                        </ul>
                                    </li>
                                {% endif %}
                            {% endif %}
                        </ul>
                        <!-- /mp-menu -->

                        <div class="scroller"><!-- this is for emulating position fixed of the nav -->
                            <div class="scroller-inner">
                                <!-- Top Navigation -->
                                <div class="content clearfix">

                                    <div class="block block-40 clearfix">
                                        {% block body %}
                                        {% endblock %}                      

                                        <p><a href="#" id="trigger" ></a></p>			
                                    </div>
                                </div>
                            </div><!-- /scroller-inner -->
                        </div><!-- /scroller -->


                    </div><!-- /container -->

                </div>
                <!-- --> 

                <!--FOOTTER-->
                <footer class="site-footer">
                    <div class="row">
                        <div id="footer-content" class="span12">
                            <div class="row">
                                <div class="span8">


                                    <ul class="footer-menu clearfix"><li><ul><li class="active " id="footer-menu--">
                                                    <a href="{{path('index')}}">Home</a></li></ul></li><li><ul><li class="" id="footer-menu-about"><a href="http://www.techtrol.com.ve/about/">Quiénes Somos</a></li></ul></li><li><ul><li class="" id="footer-menu-clients"><a href="http://www.techtrol.com.ve/clients/">Clientes</a></li></ul></li><li><ul><li class="" id="footer-menu-faq"><a href="http://www.techtrol.com.ve/faq/">Preguntas Frecuentes</a></li></ul></li><li><ul><li class="" id="footer-menu-payment"><a href="http://www.techtrol.com.ve/payment/">Mis cuentas</a></li></ul></li><li><ul><li class="" id="footer-menu-contact"><a href="http://www.techtrol.com.ve/contact/">Contacto</a></li></ul></li></ul>

                                </div>
                                <div class="span4">
                                    <address>
                                        <strong><a href="">Contáctenos</a></strong><br>
                                        Oficina Principal<br>
                                        Calle 6 con calle 8, Edificio ZYS.<br>
                                        La Urbina, Caracas, Venezuela.<br>
                                        <i class="fa fa-phone fa-inverse"></i> <a href="tel:0212 242 3062">0212 242 3062</a><br>

                                        <i class="fa fa-phone fa-inverse"></i> <a href="tel:0212 242 6060">0212 242 6060</a><br>

                                        Fax: 0212 242 1119<br>
                                        <i class="fa fa-envelope fa-inverse"></i> <a href="mailto:ventas@techtrol.com.ve">ventas@techtrol.com.ve</a><br>
                                        RIF: J-30358361-0
                                    </address>
                                </div>
                            </div>

                        </div>
                    </div>
                </footer>
                <!--FOOTTER-->

            </div>
        </body>





        <script src="{{ asset('bundles/techt/js/classie.js') }}" type="text/javascript"></script>


        <link href="{{ asset('bundles/techt/css/normalize.css') }}" rel="stylesheet" type="text/css" media="screen" />
        <link href="{{ asset('bundles/techt/css/demo_1.css') }}" rel="stylesheet" type="text/css" media="screen" />

        <link href="{{ asset('bundles/techt/css/component.css') }}" rel="stylesheet" type="text/css" media="screen" />
        <script src="{{ asset('bundles/techt/js/modernizr.custom.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/techt/js/ga.js') }}" type="text/javascript"></script>


        <script src="{{ asset('bundles/techt/js/ad.js') }}" type="text/javascript"></script>


