{% extends "base.html.twig" %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('bundles/techt/css/demo.css') }}" />
    
{% endblock %}

{% block title 'Techtrol' %}

{% block body %}

    {% block content_header %}

        
            
            {% block content_header_more %}
            
            
    {{ parent() }}
    {% if app.user!=null %}
            <table>
                <tr>
                    <td width="18"></td>                    
<td width="950" align="left">    
Bienvenido,  <a title="Ver Perfil" href="{{ path('Registro_showperfil', { 'id': app.session.get('usuario_ci') }) }}">
         <strong>{{  app.user.vnombre }} {{  app.user.vapellido}}</strong></a>
 
</td>
<td><a title="Cerrar Session" href="{{ path('logout') }}"><h4>Salir</h4></a></td>
</tr>


</table>

    {% else %}
    

<table>
    <tr>
        
        {%if  (app.session.get('routeName')!='Registro_new' and app.session.get('routeName')!='login')%}
        <td width="780" align="right">
            <ul>
    <li><strong><a href="{{ path('Registro_new') }}"><h4>Registrarse/ </h4></a></strong></li></ul>
   </td>
   <td width="0" align="right">
       <ul><li><strong><a href="{{ path('login') }}"><h4>Ingresar</h4></a></strong></li></ul>
    </td>
   {%elseif app.session.get('routeName')=='login'%}
    
    {%elseif app.session.get('routeName')=='Registro_new' %}
    <td width="780" align="right">
       <ul><li><strong><a href="{{ path('login') }}"><h4>Ingresar/</h4></a></strong></li></ul>
    </td>
   {%endif%}
    
    </tr>
    </table>
    {% endif%}
            {% endblock %}
                
        

        <div style="clear: both"></div>
    {% endblock %}

    <div class="block">
        {% block content %}
        
{% endblock %}
        <br><br><br><br><br><br><br><br><br><br>
</div>

{% endblock %}
