{% extends 'layout.html.twig' %}

{% block content %}

{% for flashMessage in app.session.flashbag.get('flash_info') %}
<div class="isa_info">
        {{ flashMessage }}
</div>
<br>
{% endfor %}


{% for flashMessage in app.session.flashbag.get('flash_warning') %}
<div class="isa_warning">
        {{ flashMessage }}
</div>
<br>
{% endfor %}



{% for flashMessage in app.session.flashbag.get('flash_error') %}
<div class="isa_error">
        {{ flashMessage }}
</div>
<br>
{% endfor %}



{% for flashMessage in app.session.flashbag.get('flash_success') %}
<div class="isa_success">
        {{ flashMessage }}
</div>
<br>
{% endfor %}



<h1 class="title">Restablecimiento de Contraseña</h1>

<div class="container" >

    <section class="register">
        <h1>    Introduzca los siguientes datos: </h1>
        <br>
    <form action="{{ path('createforgot') }}" method="post" id="login">
                      {{ form_start(form) }}
        {{ form_errors(form) }}  


    <div class="error">{{ form_errors(form.pkIci) }}</div>
    <table>  <td width="100">
        {{ form_label(form.pkIci, 'Usuario:') }}</td><td>
        {{ form_widget(form.pkIci) }}<br></td></table>

    <div class="error">{{ form_errors(form.vcorreoEmail) }}</div>
    <table>  <td width="100">
        {{ form_label(form.vcorreoEmail, 'Correo:') }}</td><td>
        {{ form_widget(form.vcorreoEmail) }}<br></td></table>

    <div style="display: none;">
                {{ form_row(form.submit, { 'label': 'Enviar' }) }}        
    </div>

    <div align="right">
        
        <p class="submit">   
            <input type="submit" name="commit" value="Enviar">

    </div>
           {{ form_end(form) }} 
</form>
        </section>
    </div>
{% endblock %}


