{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Formulariorelacion list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripción Formulario</th>
                <th>Descripción Pregunta</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('FormRel_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td><a href="{{ path('FormRel_show', { 'id': entity.id }) }}">{{ entity.fkIidform }}</a></td>
                <td><a href="{{ path('FormRel_show', { 'id': entity.id }) }}">{{ entity.fkIidpreg}}</a></td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('FormRel_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('FormRel_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('FormRel_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
