{% extends '::layout.html.twig' %}

{% block content -%}
    <h1>Listado de Obras</h1>
      <div class="container" >

    <section class="register">

    <table class="records_list">
        <thead>
            <tr>
            <td align="center"  width="80"><h4 ><strong>Código</strong></h4></td>
            <td width="40"></td>
            <td align="center"  width="80"><h4 ><strong>Cantidad</strong></h4></td>
            <td width="40"></td>
            <td align="center"  width="180"><h4 ><strong>Estatus</strong></h4></td>
            <td width="40"></td>
            <td align="center"  width="80"><h4 ><strong>Acciones</strong></h4></td>
            <td width="40"></td>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td align="center"  width="80"><a href="{{ path('Obra_show', { 'id': entity.id }) }}">{{ entity.icodproyecto  }}</a></td>
                <td width="40"></td>
                <td align="center"  width="80">{{ entity.icantidad }}</td>
                <td width="40"></td>
                <td align="center"  width="180">{{ entity.fkTbdetestatusproyecto }}</td>
                <td width="40"></td>
                <td align="center"  width="80">
                <ul>
                    <li>
                          <a href="{{ path('Obra_edit', { 'id': entity.id }) }}"><img width="40" height="40"  title="Editar" src="/bundles/techt/images/Draft.png"></a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </section>
      </div>
        
        <ul>
        <li>
            <a href="{{ path('Obra_new') }}">
                <h4> Crear nueva Obra </h4>
            </a>
        </li>
    </ul>
    {% endblock %}
