{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Tbdetproyecto</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Icodproyecto</th>
                <td>{{ entity.icodproyecto }}</td>
            </tr>
            <tr>
                <th>Icantidad</th>
                <td>{{ entity.icantidad }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('Obra') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('Obra_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
