{% extends '::layout.html.twig' %}

{% block content -%}
    <h1>Obra </h1>

  <div class="container" >

    <section class="register">
    <table class="record_properties">
        <tbody>
            
               
            <tr>
            <td width="140">Codigo: </td>  
                <td>{{ entity.icodproyecto }}</td>
             </tr>   
            <tr>
            <td width="140">Cantidad: </td>  
                <td>{{ entity.icantidad }}</td>
            </tr>
            <td width="140">Cotizacion: </td>  
                <td>{{ entity.fkIcodcotizacion }}</td>
            </tr>
            <td width="140">Estatus: </td>  
                <td>{{ entity.fkTbdetestatusproyecto }}</td>
            </tr>
        </tbody>
    </table>
</section>
            </div>
        <ul class="record_actions">
    <li>
        <a href="{{ path('Obra') }}">
            <h4>Volver Listado de Obras</h4>
        </a>
    </li>
       <li>
        <a href="{{ path('Obra_delete', { 'id': entity.id }) }}">
            <h4>Eliminar</h4>
        </a>
    </li>
</ul>
{% endblock %}
