{% extends '::layout.html.twig' %}

{% block content -%}
<h1>Edición de Empresa</h1>
  <div class="container" >

    <section class="register">
<br><br>
    <form action="{{ path('Empresa_update',{ 'id': entity.id }) }}" method="post" id="login">
 {{ form_start(edit_form) }}
        {{ form_errors(edit_form) }}
        <div class="error">
            {{ form_errors(edit_form.vnombre) }}</div>       
        <table>  <td width="100">
        {{ form_label(edit_form.vnombre, 'Nombre:', {'required': 'true'}) }}</td>
            <td>{{ form_widget(edit_form.vnombre) }}</td>
        </table>
        <div class="error">
            {{ form_errors(edit_form.vrazonSocial) }}</div>       
        <table>  <td width="100">
        {{ form_label(edit_form.vrazonSocial, 'Razón Social:', {'required': 'true'}) }}</td>
            <td>{{ form_widget(edit_form.vrazonSocial) }}</td>
        </table>
         <div class="error">
            {{ form_errors(edit_form.pkIrif) }}</div>       
        <table>  <td width="100">
        {{ form_label(edit_form.pkIrif, 'Rif:', {'required': 'true'}) }}</td>
            <td>{{ form_widget(edit_form.pkIrif) }}</td>
        </table>
        <div class="error">
        {{ form_errors(edit_form.vdireccionFiscal) }}</div>       
        <table>  <td width="100">
        {{ form_label(edit_form.vdireccionFiscal, 'Dir-Fiscal:', {'required': 'true'}) }}</td>
        <td>{{ form_widget(edit_form.vdireccionFiscal) }}</td>
        </table>
        
        <div style="display: none;">
        {{ form_row(edit_form.submit, { 'label': 'Actualizar' }) }}
        {{ form_row(delete_form.submit, { 'label': 'Eliminar' }) }}
        </div>
    <br>
    
<p class="submit">   
                <input type="submit" name="commit" value="Guardar">
            </p>
        
    
   {{ form_end(edit_form) }}     

</form>
</section>
      </div>
<br><br>

        <ul class="record_actions">
            <li>
            </li>
    <li>
        <a href="{{ path('Empresa') }}">
           Volver Lista de Empresas
        </a>
    </li>
    <li>{{ form_row(delete_form.submit, { 'label': 'Eliminar' }) }} </li>
 
</ul>
 {% endblock %}
