{% extends '::layout.html.twig' %}

{% block content -%}
    <h1>Lista de Empresas</h1>
<br><br>
    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Rif</th>
                <th>Dirección Fiscal</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('Empresa_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.pkIrif }}</td>
                <td>{{ entity.vdireccionFiscal }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('Empresa_show', { 'id': entity.id }) }}">Ver</a>
                    </li>
                    <li>
                        <a href="{{ path('Empresa_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<br><br>
        <ul>
        <li>
            <a href="{{ path('Empresa_new') }}">
                Crear nueva Empresa
            </a>
        </li>
    </ul>
    {% endblock %}
