{% extends '::layout.html.twig' %}

{% block content -%}
    <h1>Creación de Empresa</h1>

  <div class="container" >

    <section class="register">    
<form action="{{ path('Empresa_create') }}" method="post" id="login">
 {{ form_start(form) }}
        {{ form_errors(form) }}
          <div class="error">
            {{ form_errors(form.pkIrif) }}</div>       
        <table>  <td width="100">
        {{ form_label(form.pkIrif, 'Rif:', {'required': 'true'}) }}</td>
            <td>{{ form_widget(form.pkIrif) }}</td>
        </table>
        <div class="error">
        {{ form_errors(form.vdireccionFiscal) }}</div>       
        <table>  <td width="100">
        {{ form_label(form.vdireccionFiscal, 'Dir-Fiscal:', {'required': 'true'}) }}</td>
        <td>{{ form_widget(form.vdireccionFiscal) }}</td>
        </table>
        
        <div style="display: none;">
        {{ form_row(form.submit, { 'label': 'Crear' }) }}
    </div>
    
<p class="submit">   
                <input type="submit" name="commit" value="Crear">
            </p>    
   {{ form_end(form) }}     

</form>

</section>
</div>
        <ul class="record_actions">
    <li>
        <a href="{{ path('Empresa') }}">
            <br><br>
            Lista de Empresas
        </a>
    </li>
</ul>
{% endblock %}
