{% extends '::layout.html.twig' %}

{% block content -%}
    <h1>Creación de Empresa</h1>

  <div class="container" >

    <section class="register">    
<form action="{{ path('Empresa_create') }}" method="post" id="login">
 {{ form_start(form) }}
        {{ form_errors(form) }}
        
        {{ form_row(form.pkIrif, {'label': 'Rif:', 'required': 'true','attr': {'oninvalid': 'sdflsdh'}})}}
        {{ form_row(form.vdireccionFiscal, {'label': 'Dir-Fiscal:', 'required': 'true'}) }}
        <div style="display: none;">
        {{ form_row(form.submit, { 'label': 'Crear' }) }}
    </div>
    
<p class="submit">   
                <input type="submit" name="commit" value="Crear">
            </p>    
   {{ form_end(form) }}     

</form>

</section>
</div>
        <ul class="record_actions">
    <li>
        <a href="{{ path('Empresa') }}">
            <br><br>
            Lista de Empresas
        </a>
    </li>
</ul>
{% endblock %}
