{% extends '::layout.html.twig' %}

{% block content -%}
    <h1>Empresa </h1>
<br><br>
  <div class="container" >

    <section class="register">
    <table class="record_properties">
        <tbody>
            
               
            <tr>
            <td width="140">Rif: </td>  
                <td>{{ entity.pkIrif }}</td>
            </tr>
            <tr><td height="20"></td></tr>
            <tr>
                <td>Dirección Fiscal: </td>
                <td>{{ entity.vdireccionFiscal }}</td>
            </tr>
        </tbody>
    </table>
</section>
      </div>
        <br><br>

<br>
        <ul class="record_actions">
            <li>
        <a href="{{ path('Empresa_edit', { 'id': entity.id }) }}">
            Editar Empresa
        </a>
    </li>
            <li>
        <a href="{{ path('Empresa_delete', { 'id': entity.id }) }}">
            Eliminar Empresa
        </a>
    </li>
    
    <li>
        <a href="{{ path('Empresa') }}">
           Volver Lista de Empresas
        </a>
    </li>
    
    
</ul>

{% endblock %}
