{% extends '::layout.html.twig' %}

{% block content -%}
    <h1>Empresa </h1>
<br><br>
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Rif: </th>
                <td>{{ entity.pkIrif }}</td>
            </tr>
            <tr>
                <th>Dirección Fiscal: </th>
                <td>{{ entity.vdireccionFiscal }}</td>
            </tr>
        </tbody>
    </table>
<br><br>
        <ul class="record_actions">
    <li>
        <a href="{{ path('Empresa') }}">
            Lista de Empresas
        </a>
    </li>
    <li>
        <a href="{{ path('Empresa_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
