{% extends '::layout.html.twig' %}

{% block content %}
    <h1>Obras Aprobadas</h1>
    <div class="container" >

        <section class="register">
            <table class="records_list">
                <thead>
                    <tr>
                        <td align="center"  width="100"><h4 ><strong>Tecnico</strong></h4></td>
                        <td width="40"></td>
                        <td align="center"  width="80"><h4 ><strong>Proyecto</strong></h4></td>
                        <td width="40"></td>
                        <td align="center"  width="140"><h4 ><strong>Estatus Proyecto</strong></h4></td>
                        <td width="40"></td>
                        <td align="center"  width="80"><h4 ><strong>Obra</strong></h4></td>
                        <td width="40"></td>
                        <td align="center"  width="80"><h4 ><strong>Cantidad</strong></h4></td>
                        <td width="40"></td>
                        <td align="center"  width="140"><h4 ><strong>Estatus Obra</strong></h4></td>
                        <td width="40"></td>
                        <td align="center"  width="120"><h4 ><strong>Fecha Asignación</strong></h4></td>
                    </tr>
                </thead>
                <tbody>

                    {% for entity in lista %}
                        <tr {% if loop.index is odd %} bgcolor="#FFFFFF" {% endif %}>
                            <td align="center"  width="80">{{ entity.fkIidTbdettecnico ? entity.fkIidTbdettecnico.valias : 'No Asignado' }}</td>
                            <td width="40"></td>
                            <td align="center"  width="80">{{ entity.fkIidTbdetproyecto.fkIcodcotizacion}}</td>
                            <td width="40"></td>
                            <td align="center"  width="100">{{ entity.fkIidTbdetproyecto.fkIcodcotizacion.fkIidEstatusinstalacion}}</td>
                            <td width="40"></td>
                            <td align="center"  width="80">{{ entity.fkIidTbdetproyecto }}</td>
                            <td width="40"></td>
                            <td align="center"  width="80">{{ entity.fkIidTbdetproyecto.icantidad }}</td>
                            <td width="40"></td>
                            
                            <td align="center"  width="120">{{ entity.fkIidTbdetproyecto.fkTbdetestatusproyecto}}</td>
                            <td width="40"></td>
                            <td align="center"  width="120">{% if entity.dfecha %}{{ entity.dfecha|date('d-m-Y') }}{% endif %}</td>

                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </section>

    </div>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    
    <script>
        function confirmObra (options) {
            $("#d"+options.idObra).dialog({
                resizable: false,
                height: 200,
                modal: true,
                title:'Confirmación de Existencia',
                buttons: {
                    "No": function () {
                        $(this).dialog("close");
                    },
                    Si: function () {
                        var data = {
                        idObra: options.idObra,
                        idCot: options.idCotiza
                        };
                        $.ajax({
                            type: 'post',
                            url: '{{ path("confirmObra") }}',
                            data: data,
                            dataType: 'json',
                        success: function(data) {
                            if (data.error !== undefined && data.error !== '') {
                                alert(data.error);
                            } else {
                            $("#d"+options.idObra).dialog("close");
                            }
                        },
                        
                        error: function(e, ts, et) {
                            alert(ts);   
                        }
                        });
                        //
                }
                }
                });
    }
    </script>

{% endblock %}
