{% extends '::layout.html.twig' %}

{% block content %}
    <h1>Obras Por Retirar en Almacen</h1>
    <div class="container">
        <section class="register">
            <table class="records_list">
                <thead>
                    <tr>
                        <td align="center"  width="80"><h4 ><strong>Proyecto</strong></h4></td>
                        <td width="40"></td>
                        <td align="center"  width="100"><h4 ><strong>Estatus Proyecto</strong></h4></td>
                        <td width="40"></td>
                        <td align="center"  width="80"><h4 ><strong>Obra</strong></h4></td>
                        <td width="40"></td>
                        <td align="center"  width="80"><h4 ><strong>Cantidad</strong></h4></td>
                        <td width="40"></td>
                        <td align="center"  width="120"><h4 ><strong>Estatus Obra</strong></h4></td>
                        <td width="40"></td>
                        <td align="center"  width="120"><h4 ><strong>Fecha de Asignación</strong></h4></td>
                        <td width="40"></td>
                        <td align="center"  width="100"><h4 ><strong>Acciones<br>Recibido/Instalado</strong></h4></td>
                        <td width="40"></td>
                    </tr>
                </thead>
                <tbody>

                    {% for entity in lista %}
                        <tr {% if loop.index is odd %} bgcolor="#FFFFFF" {% endif %}>
                            <td  align="center"  width="80">{{ entity.fkIidTbdetproyecto.fkIcodcotizacion}}</td>
                            <td width="40"></td>
                            <td align="center"  width="100">{{ entity.fkIidTbdetproyecto.fkIcodcotizacion.fkIidEstatusinstalacion}}</td>
                            <td width="40"></td>
                            <td align="center"  width="80">{{ entity.fkIidTbdetproyecto }}</td>
                            <td width="40"></td>
                            <td align="center"  width="120">{{ entity.fkIidTbdetproyecto.icantidad}}</td>
                            <td width="40"></td>
                            <td align="center"  width="180">{{ entity.fkIidTbdetproyecto.fkTbdetestatusproyecto}}</td>
                            <td width="40"></td>
                            <td align="center"  width="120">{% if entity.dfecha %}{{ entity.dfecha|date('d-m-Y') }}{% endif %}</td>
                            <td width="40"></td>

                            <td align="center"  width="80">
                                <ul>
                                    <table>
                                        <td>
                                    <input class="checkbox1" type="checkbox" 
                                           name= "pryR.{{entity.fkIidTbdetproyecto}}" 
                                           value="{{entity.fkIidTbdetproyecto}}"
                                           onclick="confirmObraRec({idObra: '{{entity.fkIidTbdetproyecto.id}}'});"><br>
                                     <div style="display:none"  id="r{{entity.fkIidTbdetproyecto.id}}" title="Confirmacion de Existencia">
                                        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;">                                                    
                                            </span>Esta confirmando que recibió <b>{{entity.fkIidTbdetproyecto.icantidad}}</b><br> unidades
                                            de <b>{{entity.fkIidTbdetproyecto}}</b>. Esta Seguro?</p>
                                    </div>
                                    </td>
                                    <td width='20px'></td>
                                        <td>
                                            
                                    <input class="checkbox1" type="checkbox" 
                                           name= "pryI.{{entity.fkIidTbdetproyecto}}" 
                                           value="{{entity.fkIidTbdetproyecto}}"
                                           onclick="confirmObraIns({idObra: '{{entity.fkIidTbdetproyecto.id}}'});"><br>
                                    
                                    <div style="display:none"  id="d{{entity.fkIidTbdetproyecto.id}}" title="Confirmacion de Existencia">
                                        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;">                                                    
                                            </span>Esta confirmando la Instalación de <b>{{entity.fkIidTbdetproyecto.icantidad}}</b><br> unidades
                                            de <b>{{entity.fkIidTbdetproyecto}}</b>. Esta Seguro?</p>
                                    </div>
                                    </td>
                                    
                                    
                                    </table>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </section>

    </div>
                        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
        function confirmObraIns (options) {
            $("#d"+options.idObra).dialog({
                resizable: false,
                height: 200,
                modal: true,
                title:'Confirmación de Instalación',
                buttons: {
                    "No": function () {
                        $(this).dialog("close");
                    },
                    Si: function () {
                        var data = {
                        idObra: options.idObra
                        };
                        $.ajax({
                            type: 'post',
                            url: '{{ path("confirmObraIns") }}',
                            data: data,
                            dataType: 'json',
                        success: function(data) {
                            if (data.error !== undefined && data.error !== '') {
                                alert(data.error);
                            } else {
                            $("#d"+options.idObra).dialog("close");
                            }
                        },
                        
                        error: function(e, ts, et) {
                            alert(ts);   
                        }
                        });
                        //
                }
                }
                });
    }
     function confirmObraRec (options) {
            $("#r"+options.idObra).dialog({
                resizable: false,
                height: 200,
                modal: true,
                title:'Confirmación de Recibo',
                buttons: {
                    "No": function () {
                        $(this).dialog("close");
                    },
                    Si: function () {
                        var data = {
                        idObra: options.idObra
                        };
                        $.ajax({
                            type: 'post',
                            url: '{{ path("confirmObraRec") }}',
                            data: data,
                            dataType: 'json',
                        success: function(data) {
                            if (data.error !== undefined && data.error !== '') {
                                alert(data.error);
                            } else {
                            $("#r"+options.idObra).dialog("close");
                            }
                        },
                        
                        error: function(e, ts, et) {
                            alert(ts);   
                        }
                        });
                        //
                }
                }
                });
    }
    </script>
{% endblock %}
