{% extends '::layout.html.twig' %}

{% block content %}
    <h1>Lista de Contratos Asociados</h1>
<div class="container" >
<section class="register">
    <table class="records_list">
        <thead>
            <tr>
                <td align="center"  width="120"><h4 ><strong>Nro-Contrato</strong></h4></td>
                <td width="60"></td>
                <td align="center"  width="80"><h4 ><strong>Nro-Rif</strong></h4></td>
                <td width="60"></td>
                <td align="center"  width="100"><h4 ><strong>Alias</strong></h4></td>                
                <td width="60"></td>
                <td align="center"  width="300"><h4 ><strong>Ubicación Física</strong></h4></td>                
                <td width="60"></td>
                <td align="center"  width="120"><h4 ><strong>Acciones</strong></h4></td>                
                <td width="60"></td>
            </tr>
            
        </thead>
        <tbody>
        {% for entity in entities %}
              <tr>
               
                
                <td align="center"  width="120">{{ entity.fkInroContrato.pkInroContrato }}</td>
                <td width="60"></td>
                <td align="center" width="80">{{ entity.fkInroContrato.fkIrif }}</td>
                <td width="60"></td>
                <td align="center" width="100">{{ entity.fkInroContrato.valias }}</td>
                <td width="60"></td>
                
                <td align="center" width="300">{{ entity.fkInroContrato.vubicacionfisica }}</td>
                <td width="60"></td>
                <td  align="center"  width="150">
                <ul>
                    
                    <li>
                        <a target="'_new'" href="{{ entity.fkInroContrato.vdns }}"><img width="35" height="20"  title="Ver Cámaras" src="/bundles/techt/images/camera.png"></a>
                    </li>
                </ul>
                
                </td>
            </tr>
            
        {% endfor %}
        </tbody>
    </table>
<br>
</section>
        </div>
    <br>
    {% if((app.session.get('usuario_rol')=="Empleado") or
        (app.session.get('usuario_rol')=="Administrador"))%}
        <ul>
        <li>
            <a href="{{ path('Contratos_new') }}">
                <h4>Crear Nuevo Contrato</h4>
            </a>
        </li>
    </ul>
    {%endif%}
   {% endblock %}
