{% extends '::layout.html.twig' %}

{% block content %}
    <h1>Modificar Prioridad</h1>
  <div class="container" >

    <section class="register">


    <form action="{{ path('Cotizacion_update',{ 'id': entity.id }) }}" method="post" id="login">
 {{ form_start(edit_form) }}
        {{ form_errors(edit_form) }}
        <table>
            <tr>
            <td>
        
        <td>
        <div class="error">
            {{ form_errors(edit_form.iprioridad) }}</div>       
        <table>  <td width="100">
        {{ form_label(edit_form.iprioridad, 'Prioridad:', {'required': 'true'}) }}</td>
            <td>{{ form_widget(edit_form.iprioridad) }}</td>
        </table>
        </td>
        <td width='20px'></td>
        
            </tr>
        </table>
        
        <br>
        <div style="display: none;">
            {{ form_row(edit_form.dfecha) }}
            {{ form_row(edit_form.codcotizacion) }}
            {{ form_row(edit_form.tbdetliderpmo) }}
            {{ form_row(edit_form.fkIidEstatusinstalacion) }}
            {{ form_row(edit_form.vdescripcion) }}
            {{ form_row(edit_form.tbdetcotizacioncol) }}
        {{ form_row(edit_form.submit, { 'label': 'Actualizar' }) }}
        {{ form_row(delete_form.submit, { 'label': 'Eliminar' }) }}
        </div>

    
<p class="submit">   
                <input type="submit" name="commit" value="Guardar">
            </p>
        
    
   {{ form_end(edit_form) }}     
   </section>
   </div>
   <div class="container" >


</div>
        </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('Cotizacion') }}">
           <h4> Volver Lista Cotizaciones </h4>
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>

{% endblock %}
