{% extends '::layout.html.twig' %}

{% block content %}
    <h1> Proyectos con Equipos Por Retirar de Almacen</h1>

    <div class="container" >

        <section class="register">
            <table class="records_list">
                <thead>
                    <tr>
                        <td width="30"></td>
                        <td align="left"  width="75"><h4 ><strong>Fecha Notificación</strong></h4></td>
                        <td width="10"></td>
                        <td align="left"  width="70"><h4 ><strong>Número cotización</strong></h4></td>
                        <td width="10"></td>
                        <td align="left"  width="70"><h4 ><strong>Cotización Equipos</strong></h4></td>
                        <td width="10"></td>
                        <td align="left"  width="70"><h4 ><strong>Cotización Instalación</strong></h4></td>
                        <td width="10"></td>
                        <td align="left"  width="70"><h4 ><strong>Fecha Asignación</strong></h4></td>
                        <td width="10"></td>
                        <td align="left"  width="70"><h4 ><strong>Fecha Inicio</strong></h4></td>
                        <td width="10"></td>
                        <td align="left"  width="70"><h4 ><strong>Fecha Fin</strong></h4></td>
                        <td width="10"></td>
                        <td align="left"  width="80"><h4 ><strong>Estatus Proyecto</strong></h4></td>
                        <td width="10"></td>
                        <td align="left"  width="90"><h4 ><strong>Lider PMO Asignado</strong></h4></td>
                        <td width="10"></td>
                        <td align="left"  width="50"><h4 ><strong>Prioridad</strong></h4></td>
                        <td width="10"></td>
                        <td align="left"  width="50"><h4 ><strong>Acciones</strong></h4></td>

                        {#<td align="center"  width="80"><h4 ><strong>Acciones</strong></h4></td>#}
                    </tr>
                </thead>

            </table>
            <div id="accordion">    
                {% for  key,cot in cotizaciones%}

                    {% for  key2,proyectos in cot%}

                        {% if key2=='uno'%}
                            <div>
                                <table>
                                    <thead>
                                        <tr bgcolor="#EEEEEE">
                                                
                                            <td height="25" align="center"  width="140">Código Equipo Cotizado</td>
                                            <td width="20"></td>
                                            <td align="center"  width="140">Código Equipo</td>
                                            <td width="20"></td>
                                            <td align="center"  width="80">Estatus Almacén</td>
                                            <td width="20"></td>
                                            <td bgcolor="#FF5F55" align="center"  width="80">Cotizado</td>
                                            <td width="20"></td>
                                            <td bgcolor="#0BD4FF" align="center"  width="80">Instalado</td>
                                            <td width="20"></td>
                                            <td bgcolor="#EB6E00" align="center"  width="80">Entregado </td>
                                            <td width="20"></td>
                                            <td bgcolor="#61EB00" align="center"  width="80">Preparado</td>
                                            <td width="20"></td>
                                            <td bgcolor="#FFFF40" align="center"  width="80">Por Entregar</td>
                                            
                                        </tr>
                                    </thead>
                                </table>

                                {% for  clave,proyecto  in proyectos%}

                                    <table>
                                        <tr>

                                           <td height="25" align="center"  width="140"><a href="{{ path('Obra_show', { 'id': proyecto.id   }) }}">{{ proyecto.icodproyecto  }}</a></td>
                                            <td width="20"></td>
                                            <td align="center"  width="140">{{ proyecto.icodproyecto|replace({'S': 'V'})  }}</td>
                                            <td width="20"></td>
                                            <td align="center"  width="80">{{ proyecto.fkTbdetestatusproyecto.vdescripcion}}</td>
                                            <td width="20"></td>
                                            <td align="center"  width="80">{{ proyecto.icantidad }}</td>
                                            <td width="20"></td>
                                            <td align="center"  width="80">{{ (proyecto.icantidadentregada)}}</td>
                                            <td width="20"></td>
                                            <td align="center"  width="80">{{ proyecto.icantidadrecibida}}</td>
                                            <td width="20"></td>
                                            <td bgcolor="#EEEEEE" align="center"  width="80">{{ proyecto.icantidaddisponible}}</td>
                                            <td width="20"></td>
                                            <td align="center"  width="80">{{ ((proyecto.icantidad-proyecto.icantidadrecibida)|abs)}}</td>
                                           
                                        </tr>
                                    </table>

                                {%endfor%}
                            </div>
                        {%else%}
                            {% if key2=='dos'%}
                            <table>
                                <tr>

                                    <td align="left"  width="70">{% if cot['dos'].dfecha %}{{ cot['dos'].dfecha|date('d-m-Y') }}{% endif %}</td>
                                    <td width="10"></td>
                                    
                                    <td align="left"  width="70"><a href="{{ path('Cotizacion_show', { 'id': cot['dos'].id }) }}">{{cot['dos'].codcotizacion}}</a></td>
                                    <td width="10"></td>
                                    <td align="left"  width="70"><a href="{{ path('Cotizacion_show', { 'id': cot['dos'].id }) }}">{{cot['dos'].codcotizacion}}</a></td>
                                    <td width="10"></td>
                                    <td align="left"  width="70"><a href="{{ path('Cotizacion_show', { 'id': cot['dos'].id }) }}">{{cot['dos'].codcotizacion}}</a></td>
                                    <td width="10"></td>
                                    <td align="left"  width="70">{% if cot['dos'].dfecha %}{{ cot['dos'].dfecha|date('d-m-Y') }}{% endif %}</td>
                                    <td width="10"></td>
                                    <td align="left"  width="70">{% if cot['dos'].dfechaIni %}{{ cot['dos'].dfechaIni|date('d-m-Y') }}{% endif %}</td>
                                    <td width="10"></td>
                                    <td align="left"  width="70">{% if cot['dos'].dfechaFin %}{{ cot['dos'].dfechaFin|date('d-m-Y') }}{% endif %}</td>
                                    <td width="10"></td>
                                    <td align="left"  width="80">{{ cot['dos'].fkiidestatusinstalacion.vdescripcion }}</td>
                                    <td width="10"></td>
                                    <td align="left"  width="90">{% if cot['dos'].tbdetliderpmo %}{{ cot['dos'].tbdetliderpmo.valias}} {%else%} 'No Asignado' {%endif%}</td>
                                    <td width="10"></td>
                                    <td align="left"  width="50">{% if cot['dos'].iprioridad%}{{ cot['dos'].iprioridad}} {%else%} 'No Asignado' {%endif%}</td>
                                    <td width="10"></td>
                                    <td align="left"><a href="{{ path('Cotizacion_editTecnEnt', { 'id': cot['dos'].id }) }}"><img  width="30"  height="30" title="Modificar lo Preparado para Instalador" src="/bundles/techt/images/entregaAInstalador.jpg"/></a></td>
                                </tr>
                            </table>
                            {%endif%}
                        {%endif%}

                    {%endfor%}

                {%endfor%}
                
            </div>  



        </section>
    </div>
    <script>
        $(function () {
            $("#accordion").accordion({
                active: false,
                collapsible: true,
                heightStyle: "content",
                navigation: true,
            });
        });
    
         $('#accordion input[type="checkbox"]').click(function(e) {
                e.stopPropagation();
            });
            $("a").click(function(event){ event.stopPropagation(); });  
    </script>
    
    <script>
        function confirmObraRec(options) {
            $("#d" + options.idObra).dialog({
                resizable: false,
                height: 290,
                width: 400, 
                modal: true,
                title: 'Confirmación de Retiro',
                buttons: {
                    "No": function () {
                        
                        $(this).dialog("close");
                    },
                    Si: function () {
                        var ientrega=$("#fn"+options.idObra).val();
                        var data = {
                            idObra: options.idObra,
                            iEntrega: ientrega,
                            idCot: options.idCot
                        };
                        $.ajax({
                            type: 'post',
                            url: '{{ path("confirmObraRec") }}',
                            data: data,
                            dataType: 'json',
                            success: function (data) {
                                if (data.error !== undefined && data.error !== '') {
                                    alert(data.error);
                                } else {
                                    $("#d" + options.idObra).dialog("close");
                                }
                            },
                            error: function (e, ts, et) {
                                alert(ts);
                            }
                        });
                        //
                    }
                }
            });
        }
    </script>
{% endblock %}
