

{% block content %}
    <h1>Notificación de Equipos Disponibles en Almacen</h1>

  
            <table>
                <thead>
                    <tr>

                        <td align="left"  width="120"><h4 ><strong>Fecha Notificación</strong></h4></td>
                        <td width="40"></td>
                        <td align="left"  width="120"><h4 ><strong>Número Cotización</strong></h4></td>
                        <td width="40"></td>
                        <td align="left"  width="80"><h4 ><strong>Estatus </strong></h4></td>
                        <td width="40"></td>
                        <td align="left"  width="120"><h4 ><strong>Lider Asignado</strong></h4></td>
                        <td width="40"></td>
                        <td align="left"  width="120"><h4 ><strong>Instalador Asignado</strong></h4></td>

                    </tr>
                </thead>
                
            </table>
             
                {% for  key,cot in object%}

                    {% for  key2,proyectos in cot%}

                        {% if key2=='uno'%}
                            <div>
                                <table>
                                    <thead>
                                        <tr bgcolor="#EEEEEE">

                                            <td height="25" align="center"  width="160">Código Equipos Cotizados</td>
                                            <td width="20"></td>
                                            <td align="center"  width="80">Cantidad Cotizada</td>
                                            <td width="20"></td>
                                            <td align="center"  width="160">Código Equipos a Entregar</td>
                                            <td width="20"></td>
                                            {% if(cot['cuat']=="Almacenista") %}
                                            <td align="center"  width="140">Pendiente</td>
                                            <td width="20"></td>
                                            <td align="center"  width="140">Disponible</td>
                                            <td width="20"></td>
                                            <td align="center"  width="140">Entregado</td>
                                            {%else%}
                                            <td align="center"  width="140">Por Retirar</td>
                                            <td width="20"></td>
                                            <td align="center"  width="140">Por Entregar</td>
                                            <td width="20"></td>
                                            <td align="center"  width="140">Entregado</td>
                                                {%endif%}
                                        </tr>
                                    </thead>
                                </table>

                                {% for  clave,proyecto  in proyectos%}

                                    <table>
                                        <tr>

                                            <td height="25" align="center"  width="160">{{ proyecto.icodproyecto  }}</td>
                                            <td width="20"></td>
                                            <td align="center"  width="80">{{ proyecto.icantidad }}</td>
                                            <td width="20"></td>
                                            <td align="center"  width="160">{{ proyecto.icodproyecto|replace({'S': 'V'})  }}</td>
                                            <td width="20"></td>
                                            {% if(cot['cuat']=="Almacenista") %}
                                            <td align="center"  width="140">{{ proyecto.icantidadEntregada}}</td>
                                            <td width="20"></td>
                                            <td align="center"  width="140">{{ proyecto.icantidad-proyecto.icantidadEntregada}}</td>
                                            <td width="20"></td>
                                            <td align="center"  width="140">{{ proyecto.icantidaddisponible}}</td>
                                            {%else%}
                                            <td align="center"  width="140">{{ proyecto.icantidaddisponible}}</td>
                                            <td width="20"></td>
                                            <td align="center"  width="140">{{ proyecto.icantidadrecibida}}</td>
                                            <td width="20"></td>
                                            <td align="center"  width="140">{{ proyecto.icantidadentregada}}</td>
                                            {%endif%}


                                        </tr>
                                    </table>

                                {%endfor%}
                            </div>
                        {%else%}
                            {% if key2=='dos'%}
                            <table>
                                <tr>

                                    <td align="left"  width="120">{% if cot['dos'].dfecha %}{{ cot['dos'].dfecha|date('d-m-Y') }}{% endif %}</td>
                                    <td width="40"></td>
                                    <td align="left"  width="120">{{cot['dos'].codcotizacion}}</td>
                                    <td width="40"></td>
                                    <td align="left"  width="80">{{ cot['dos'].fkiidestatusinstalacion.vdescripcion }}</td>
                                    <td width="40"></td>
                                    <td align="left"  width="120">{% if (cot['dos'].tbdetliderpmo!=null) %}{{ cot['dos'].tbdetliderpmo.valias}} {%else%} 'No Asignado' {%endif%}</td>
                                    <td width="40"></td>
                                    <td align="left"  width="120">{% if (cot['tres']!=null)%}{{ cot['tres'].valias}} {%else%} 'No Asignado' {%endif%}</td>
                            
                                </tr>
                            </table>
                                    <br>
                            {%endif%}
                        {%endif%}

                    {%endfor%}

                {%endfor%}
       

{% endblock %}
