

{% block content %}
    <h1>Notificación de Instalación de Equipos </h1>

  
            <table>
                <thead>
                    <tr>
                        <td width="30"></td>
                        <td align="left"  width="75"><h4 ><strong>Fecha Notificación</strong></h4></td>
                        <td width="10"></td>
                        <td align="left"  width="70"><h4 ><strong>Número cotización</strong></h4></td>
                        <td width="10"></td>
                        <td align="left"  width="70"><h4 ><strong>Cotización Equipos</strong></h4></td>
                        <td width="10"></td>
                        <td align="left"  width="70"><h4 ><strong>Cotización Instalación</strong></h4></td>
                        <td width="10"></td>
                        <td align="left"  width="70"><h4 ><strong>Fecha Asignación</strong></h4></td>
                        <td width="10"></td>
                        <td align="left"  width="70"><h4 ><strong>Fecha Inicio</strong></h4></td>
                        <td width="10"></td>
                        <td align="left"  width="70"><h4 ><strong>Fecha Fin</strong></h4></td>
                        <td width="10"></td>
                        <td align="left"  width="80"><h4 ><strong>Estatus Proyecto</strong></h4></td>
                        <td width="10"></td>
                        <td align="left"  width="90"><h4 ><strong>Lider PMO Asignado</strong></h4></td>
                        <td width="10"></td>
                        <td align="left"  width="70"><h4 ><strong>Instalador Asignado</strong></h4></td>
                        <td width="10"></td>
                        <td align="left"  width="50"><h4 ><strong>Prioridad</strong></h4></td>

                        {#<td align="center"  width="80"><h4 ><strong>Acciones</strong></h4></td>#}
                    </tr>
                </thead>
                
            </table>
             
                {% for  key,cot in object%}

                    {% for  key2,proyectos in cot%}

                        {% if key2=='uno'%}
                            <div>
                                <table>
                                    <thead>
                                        <tr bgcolor="#EEEEEE">

                                            <td height="25" align="center"  width="160">Código Equipos Cotizados</td>
                                            <td width="20"></td>
                                            <td align="center"  width="80">Cantidad Cotizada</td>
                                            <td width="20"></td>
                                            <td align="center"  width="160">Código Equipos a Entregar</td>
                                            <td width="20"></td>
                                            {% if(cot['cuat']=="Almacenista") %}
                                            <td align="center"  width="140">Total Pendiente</td>
                                            <td width="20"></td>
                                            <td align="center"  width="140">Total Disponible</td>
                                            <td width="20"></td>
                                            <td align="center"  width="140">Total Entregado</td>
                                            <td width="20"></td>
                                            <td align="center"  width="140">Entrega Actual</td>
                                            {%else%}
                                            <td align="center"  width="140">Total Por Retirar</td>
                                            <td width="20"></td>
                                            <td align="center"  width="140">Total Por Entregar</td>
                                            <td width="20"></td>
                                            <td align="center"  width="140">Total Entregado</td>
                                            <td width="20"></td>
                                            <td align="center"  width="140">Entrega Actual</td>
                                                {%endif%}
                                        </tr>
                                    </thead>
                                </table>

                                {% for  clave,proyecto  in proyectos%}

                                    <table>
                                          <tr>

                                    <td align="left"  width="70">{% if cot['dos'].dfecha %}{{ cot['dos'].dfecha|date('d-m-Y') }}{% endif %}</td>
                                    <td width="10"></td>
                                    
                                    <td align="left"  width="70"><a href="{{ path('Cotizacion_show', { 'id': cot['dos'].id }) }}">{{cot['dos'].codcotizacion}}</a></td>
                                    <td width="10"></td>
                                    <td align="left"  width="70"><a href="{{ path('Cotizacion_show', { 'id': cot['dos'].id }) }}">{{cot['dos'].codcotizacion}}</a></td>
                                    <td width="10"></td>
                                    <td align="left"  width="70"><a href="{{ path('Cotizacion_show', { 'id': cot['dos'].id }) }}">{{cot['dos'].codcotizacion}}</a></td>
                                    <td width="10"></td>
                                    <td align="left"  width="70">{% if cot['dos'].dfecha %}{{ cot['dos'].dfecha|date('d-m-Y') }}{% endif %}</td>
                                    <td width="10"></td>
                                    <td align="left"  width="70">{% if cot['dos'].dfechaIni %}{{ cot['dos'].dfechaIni|date('d-m-Y') }}{% endif %}</td>
                                    <td width="10"></td>
                                    <td align="left"  width="70">{% if cot['dos'].dfechaFin %}{{ cot['dos'].dfechaFin|date('d-m-Y') }}{% endif %}</td>
                                    <td width="10"></td>
                                    <td align="left"  width="80">{{ cot['dos'].fkiidestatusinstalacion.vdescripcion }}</td>
                                    <td width="10"></td>
                                    <td align="left"  width="90">{% if cot['dos'].tbdetliderpmo %}{{ cot['dos'].tbdetliderpmo.valias}} {%else%} 'No Asignado' {%endif%}</td>
                                    <td width="10"></td>
                                    <td align="left"  width="70">{% if cot['tres']%}{{ cot['tres'].valias}} {%else%} 'No Asignado' {%endif%}</td>
                                    <td width="10"></td>
                                    <td align="left"  width="30">{% if cot['dos'].iprioridad%}{{ cot['dos'].iprioridad}} {%else%} 'No Asignado' {%endif%}</td>
                                </tr>
                                    </table>

                                {%endfor%}
                            </div>
                        {%else%}
                            {% if key2=='dos'%}
                            <table>
                                <tr>

                                    <td align="left"  width="120">{% if cot['dos'].dfecha %}{{ cot['dos'].dfecha|date('d-m-Y') }}{% endif %}</td>
                                    <td width="40"></td>
                                    <td align="left"  width="120">{{cot['dos'].codcotizacion}}</td>
                                    <td width="40"></td>
                                    <td align="left"  width="80">{{ cot['dos'].fkiidestatusinstalacion.vdescripcion }}</td>
                                    <td width="40"></td>
                                    <td align="left"  width="120">{% if (cot['dos'].tbdetliderpmo!=null) %}{{ cot['dos'].tbdetliderpmo.valias}} {%else%} 'No Asignado' {%endif%}</td>
                                    <td width="40"></td>
                                    <td align="left"  width="120">{% if (cot['tres']!=null)%}{{ cot['tres'].valias}} {%else%} 'No Asignado' {%endif%}</td>
                            
                                </tr>
                            </table>
                                    <br>
                            {%endif%}
                        {%endif%}

                    {%endfor%}

                {%endfor%}
       

{% endblock %}
