{% extends '::layout.html.twig' %}

{% block content %}
    <h1>Equipos por Entregar a Proyectos</h1>

    <div class="container" >

        <section class="register">
            <table class="records_list">
                <thead>
                    <tr>
                        <td width="40"></td>
                        <td align="center"  width="80"><h4 ><strong>Fecha Notificación</strong></h4></td>
                        <td width="40"></td>
                        <td align="center"  width="80"><h4 ><strong>Número Cotización</strong></h4></td>
                        <td width="40"></td>
                        <td align="center"  width="80"><h4 ><strong>Estatus Almacen</strong></h4></td>
                        <td width="40"></td>
                        <td align="center"  width="80"><h4 ><strong>Lider Asignado</strong></h4></td>
                        <td width="40"></td>
                        <td align="center"  width="80"><h4 ><strong>Instalador Asignado</strong></h4></td>
                        <td width="40"></td>
                        {#<td align="center"  width="80"><h4 ><strong>Acciones</strong></h4></td>#}
                </thead>

            </table>
            <div id="accordion">    
                {% for  key,cot in cotizaciones%}

                    {% for  key2,proyectos in cot%}

                        {% if key2=='uno'%}
                            <div>
                                <table>
                                    <thead>
                                        <tr bgcolor="#EEEEEE">
                                            
                                            <td height="25" align="center"  width="160">Código Equipos Cotizados</td>
                                            <td width="20"></td>
                                            <td align="center"  width="80">Cantidad Cotizada</td>
                                            <td width="20"></td>
                                            <td align="center"  width="160">Código Equipos a Entregar</td>
                                            <td width="20"></td>
                                            <td align="center"  width="140">Antes Entregada</td>
                                            <td width="20"></td>
                                            <td align="center"  width="140">Entregar Ahora</td>
                                            <td width="20"></td>
                                            <td align="center"  width="140">Pendiente</td>
                                            <td width="20"></td>
                                            <td align="center"  width="100">Estatus</td>
                                            <td width="20"></td>
                                            <td align="center"  width="100">Acciones</td>
                                            <td width="20"></td>
                                            
                                        </tr>
                                    </thead>
                                </table>

                                {% for  clave,proyecto  in proyectos%}

                                    <table>
                                        <tr>
                                            
                                            <td height="25" align="center"  width="160">{{ proyecto.icodproyecto  }}</td>
                                            <td width="20"></td>
                                            <td align="center"  width="80">{{ proyecto.icantidad }}</td>
                                            <td width="20"></td>
                                            <td align="center"  width="160">{{ proyecto.icodproyecto|replace({'S': 'V'})  }}</td>
                                            <td width="20"></td>
                                            <td align="center"  width="140">{{ proyecto.icantidadEntregada}}</td>
                                            <td width="20"></td>
                                            <td align="center"  width="140">{{ proyecto.icantidad-proyecto.icantidadEntregada}}</td>
                                            <td width="20"></td>
                                            <td align="center"  width="140">{{ proyecto.icantidad-proyecto.icantidadEntregada}}</td>
                                            <td width="20"></td>
                                            <td align="center"  width="100">{{ proyecto.fkTbdetestatusproyecto }}</td>
                                            <td width="20"></td>
                                            <td align="center"  width="100"></td>
                                           
                                            
                                        </tr>
                                    </table>

                                {%endfor%}
                            </div>
                        {%else%}

                            <table>
                                <tr>

                                    <td align="center"  width="80">{% if cot['dos'].dfecha %}{{ cot['dos'].dfecha|date('d-m-Y') }}{% endif %}</td>
                                    <td width="40"></td>
                                    <td align="center"  width="80"><a href="{{ path('Cotizacion_show', { 'id': cot['dos'].codcotizacion }) }}">{{cot['dos'].codcotizacion}}</a></td>
                                    <td width="40"></td>
                                    <td align="center"  width="80">{{ cot['dos'].fkiidestatusinstalacion.vdescripcion }}</td>
                                    <td width="40"></td>
                                    <td align="center"  width="80">Lider</td>
                                    <td width="40"></td>
                                    <td align="center"  width="80">Instalador</td>
                                    <td width="40"></td>
                                    <td align="center" width="80">
                                        <ul>
                                            <input class="checkbox1" type="checkbox" 
                                                   name= "cot.{{cot['dos'].id}}" 
                                                   value="{{cot['dos'].id}}"
                                                   onclick="confirmCot({idCot: '{{cot['dos'].id}}'});"><br>

                                            <div style="display:none"  id="d{{cot['dos'].id}}" title="Confirmacion de Existencia">
                                                <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;">                                                    
                                                    </span>Esta confirmando la existencia de 

                                                <table>
                                                    <thead>
                                                        <tr>
                                                            <td align="center"  width="80"><h4 ><strong>Código</strong></h4></td>
                                                            <td width="40"></td>
                                                            <td align="center"  width="120"><h4 ><strong>Cantidad</strong></h4></td>
                                                            <td width="40"></td>
                                                            <td align="center"  width="80"><h4 ><strong>Estatus</strong></h4></td>
                                                        </tr>
                                                    </thead>

                                                    {% for  key2,proyectos in cot%}
                                                        {% if key2=='uno'%}
                                                            {% for  clave,proyecto  in proyectos%}

                                                                <tr>
                                                                    <td align="center"  width="80">{{ proyecto.icodproyecto}}</td>
                                                                    <td width="40"></td>
                                                                    <td align="center"  width="80">{{ proyecto.icantidad }}</td>
                                                                    <td width="40"></td>
                                                                    <td align="center"  width="180">{{ proyecto.fkTbdetestatusproyecto }}</td>
                                                                    <td width="40"></td>
                                                                    <td align="center"  width="80">
                                                                        <ul>
                                                                            <li>

                                                                            </li>
                                                                        </ul>
                                                                    </td>
                                                                </tr>

                                                            {%endfor%}
                                                        {%endif%}    
                                                    {%endfor%}

                                                </table> 
                                                <br>
                                                <p>Esta Seguro?</p>
                                            </div>

                                        </ul>

                                    </td>
                                </tr>
                            </table>

                        {%endif%}

                    {%endfor%}

                {%endfor%}
            </div>  



            </setion>
    </div>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <script>
                                                       function confirmCot(options) {
                                                           $("#d" + options.idCot).dialog({
                                                               resizable: false,
                                                               height: 350,
                                                               width: 400,
                                                               modal: true,
                                                               title: 'Confirmación de Existencia',
                                                               buttons: {
                                                                   "No": function () {
                                                                       $(this).dialog("close");
                                                                   },
                                                                   Si: function () {
                                                                       var data = {
                                                                           idCot: options.idCot
                                                                       };
                                                                       $.ajax({
                                                                           type: 'post',
                                                                           url: '{{ path("confirmCotizacion") }}',
                                                                           data: data,
                                                                           dataType: 'json',
                                                                           success: function (data) {
                                                                               if (data.error !== undefined && data.error !== '') {
                                                                                   alert(data.error);
                                                                               } else {
                                                                                   $("#d" + options.idCot).dialog("close");
                                                                               }
                                                                           },
                                                                           error: function (e, ts, et) {
                                                                               alert(ts);
                                                                           }
                                                                       });
                                                                       //
                                                                   }
                                                               }
                                                           });
                                                       }
    </script>



    <script>
        $(function () {
            $("#accordion").accordion({
                heightStyle: "content"
            });
        });
    </script>
{% endblock %}
