{% extends '::layout.html.twig' %}

{% block content -%}
    <h1>Proyecto -{{ entity.codcotizacion }}</h1>

    <div class="container" >

        <section class="register">
            <table class="record_properties">
                <tbody>


                    <tr>
                        
                        <td width="140"> Fecha de la Cotización: </td>  
                        <td width="50">--/--/----</td>
                        <td  width="70"></td>
                        <td width="140"> Número de Cotización: </td>  
                        <td width="50">{{ entity.codcotizacion }}</td>
                        <td  width="70"></td>
                        <td align="center" width="60">Estatus: </td>  
                        <td align="center" width="100">{{ entity.fkIidEstatusinstalacion }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td align="right"><br>
                            {% if(app.session.get('usuario_rol')=="Administrador") %}
                                <ul class="record_actions" 
                                    <li>
                                        <a href="{{ path('Cotizacion_delete', { 'id': entity.id }) }}">
                                            <h5>Eliminar</h5>
                                        </a>
                                    </li>

                                </ul>
                            {%endif%}
                        </td>
                    </tr>


                </tbody>
            </table>
      
            
            <h1> Listado de Obras: </h1>
            <div id="accordion">

                {%for proyecto in proyectos %}
                    <table>
                        <td width="150px"><h4> {{proyecto.icodproyecto}} </h4></td>
                        
                        <td width="250px">Estatus: {{proyecto.fkTbdetestatusproyecto}}</td>
                    </table>
                    <div>
                        <table>
                            <tr>
                            
                            <td width="150px">
                                Descripción del Equipo: -----------------------------------------------
                            </td>
                            <td width="100px"></td>
                            <td align="center" width="450px">
                                Cantidad:
                                <table>
                                    <tr>
                                        <td width="90px">Cotizada:</td>
                                        <td width="50px">{{proyecto.icantidad}}</td>
                                        <td width="90px">Entregada: </td>
                                        <td width="50px">{{proyecto.icantidadEntregada}}</td>
                                        <td width="200px">Pendiente por Cotizar:</td>
                                        <td width="50px">{{proyecto.icantidad-proyecto.icantidadEntregada}}</td>

                                    </tr>
                                </table>    
                            </td>
                            <td width="40px"></td>
                            </tr>
                        </table>
                    </div>
                {%endfor%}
            </div>
        </section>
    </div>


    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <script>
        $(function () {
            $("#accordion").accordion({
                heightStyle: "content"
            });
        });

        $(document).ready(function () {
            $('#selecctall').click(function (event) {  //on click 
                if ($('#selecctall').is(':checked')) { // check select status

                    $('.checkbox1').each(function () { //loop through each checkbox
                        this.checked = true;  //select all checkboxes with class "checkbox1"               
                    });
                } else {

                    $('.checkbox1').each(function () { //loop through each checkbox
                        this.checked = false;  //unselect all checkboxes with class "checkbox1"               
                    });
                }
            });

        });
    </script>
{% endblock %}
