{% extends '::layout.html.twig' %}

{% block content %}
<script src="{{ asset('bundles/techt/js/jquery-ui.min.js') }}" type="text/javascript"></script>
{% if(app.session.get('usuario_rol')=="Empleado" or app.session.get('usuario_rol')=="Administrador") %}
<h1>Edición de Solicitud de Servicio</h1>

{% endif %}
{% if(app.session.get('usuario_rol')=="Cliente") %}
<h1>Solicitud de Servicio</h1>
{%endif %}
{% for flashMessage in app.session.flashbag.get('flash_info') %}
<div class="isa_info">
        {{ flashMessage }}
</div>

{% endfor %}
{% for flashMessage in app.session.flashbag.get('flash_warning') %}
<div class="isa_warning">
        {{ flashMessage }}
</div>

{% endfor %}

{% for flashMessage in app.session.flashbag.get('flash_error') %}
<div class="isa_error">
        {{ flashMessage }}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('flash_success') %}
<div class="isa_success">
        {{ flashMessage }}
</div>

{% endfor %}



<div class="container" >

    <section class="register">
<form action="{{ path('SolicitudServicio_update',{ 'id': entity.id }) }}" method="post" class="login">
    
              {{ form_start(edit_form) }}
        {{ form_errors(edit_form) }}  
            <table>
                <tr>
                    
                         <div style="display: none;">     
                
                {{ form_row(edit_form.iidCaso, {'required' : false})}}
                {{ form_row(edit_form.tbgentiposolicitud, {'required' : false})}}
                {{ form_row(edit_form.fkIidEspSol, {'required' : false})}}
                {{ form_row(edit_form.vdetalles, {'required' : false})}}
                {{ form_row(edit_form.dfechaCreacion, {'required' : false})}}
                {{ form_row(edit_form.dfechaCierre, {'required' : false})}}
                {{ form_row(edit_form.fkIidUsuaDatos, {'required' : false})}}
                {{ form_row(edit_form.iid, {'required' : false})}}                      
                {{ form_row(edit_form.submit, { 'label': 'Registrar' }) }}  
                {{ form_row(edit_form.vdescripcion, {'required' : false})}}
                {{ form_row(edit_form.vpersona, {'required' : false})}}
                {{ form_row(edit_form.vtelefono, {'required' : false})}}
                {{ form_row(edit_form.vcorreo, {'required' : false})}}
                {{ form_row(edit_form.fkIidContrato, {'required' : false})}}
                             
                             
                </div>  
      
             <tr>
                <td width="210" height="20">Número de Caso: </td>
                {% set t= entity.iidCaso|length %}
                <td><em>{{ entity.iidCaso[t-4:] }}</em></td>
            </tr>
            <tr>
                <td width="210" height="20">Usuario </td>
                <td><em>{{ entity.fkIidUsuaDatos.vnombre }} {{ entity.fkIidUsuaDatos.vapellido }}</em></td>
            </tr>
            <tr>
                 <td width="210" height="20">Tipo Solicitud: </td>
                 <td><em>{{ entity.fkIidEspSol.fkIidEspSol.vnombreTipoSol }}</em></td>
            </tr>
            <tr>
                 <td width="210" height="20">Especificación: </td>
                <td><em>{{ entity.fkIidEspSol.vnombreEspSol }}</em></td>
            </tr>
            <tr>
                 <td width="210" height="20">Fecha Creación: </td>
                <td><em>{{ entity.dfechaCreacion? entity.dfechaCreacion|date('d-m-Y'):'' }}</em></td>
            </tr>
            {%if (entity.dfechaCierre!=NULL)%}
            <tr>
                 <td width="210" height="20">Fecha Cierre: </td>
                <td><em>{{ entity.dfechaCierre? entity.dfechaCierre|date('d-m-Y'):'' }}</em></td>
            </tr>
            <tr>
                 <td width="210" height="20">Tiempo de Servicio(dias): </td>
                <td><em> {{app.session.get("tiempo_servicio_dias")}}. </em></td>
                
            
            </tr>
            {%endif %}
            
            {% if ((app.session.get('usuario_rol')=="Cliente") )%}
            <tr>
                 <td width="210" height="20">Estatus: </td>
                <td><em>{{ entity.vdescEstatus}}</em></td>
            </tr>
            {%endif%}
            {% if ((app.session.get('usuario_rol')!="Empleado")) %}
            {% if(entity.vdescEstatus=='Culminado')%}
            
            <tr>
                <td width="20" height="20">Calificar Servicio: </td>
            <td width="80">
                <ul>
                    <li>
                        <div  title="Haz Click Para Calificar tu Servicio" id="extern{{entity.id}}">
                    <div id="dialog{{entity.id}}"  align="left"  onclick="popup({maxvalue: '5', curvalue:'0', id:'20', iid:'{{entity.id}}'}); return false;"  />                      
                    <img title="Calificar" width='18' type=image src="/bundles/techt/images/star1_1.gif" />
                   <img title="Calificar" width='18' type=image src="/bundles/techt/images/star1_1.gif" />
                   <img title="Calificar" width='18' type=image src="/bundles/techt/images/star1_1.gif" />
                   <img title="Calificar" width='18' type=image src="/bundles/techt/images/star1_1.gif" />
                   <img title="Calificar" width='18' type=image src="/bundles/techt/images/star1_1.gif" />
                    </div>  
                    </div>
                        </li>
                        </ul>
                        </td>
            <tr>
            {%endif%}
                {%endif%}
            {% if ((app.session.get('usuario_rol')=="Empleado") or 
                 (app.session.get('usuario_rol')=="Administrador") )%}
            <div class="error" id="det">
                {{ form_errors(edit_form.vdescEstatus) }}</div>       
                    <table>  <td width="210">
                {{ form_label(edit_form.vdescEstatus, 'Estado:') }}</td>
                        <td width="210">{{ form_widget(edit_form.vdescEstatus,{'required': false, 'empty_value':'Seleccionar'}) }}</td>
                    </table>
            
          
                <tr>
                    <td width="95"></td>
                    <td width="95"></td>
                    <td width="95"></td>
                    <td width="95"></td>
                    <td width="95"></td>
                    <td width="95"></td>
                
                <td>    
                    <p class="submit">   
                        <input type="submit" name="commit" value="Editar">
                        </p>
                </td>
                    
                </tr>
                

                {{ form_end(edit_form) }} 
                {%endif%}
            </table>       
        </form>  
        
        </section>
    
        </div>


<script type="text/javascript">
       
       $(document).ready(function() {
           
});        

popup= function(options) {
    var url="<?echo 'votaste <b>'?>";
        if(url === null) return;
            var settings = {
            url       : url, // post changes to 
            maxvalue  : 5,   // max number of stars
            curvalue  : 0   // number of selected stars	

        };

        if(options) {
           jQuery.extend(settings, options);
        };
           jQuery.extend(settings, {cancel: (settings.maxvalue > 1) ? true : false});	
        //Buscar Curvalue

        var url2 = '/app/CalidadServicio/popupcalif';
        
   // mostrar un imágenes de cargando a través de CSS
   //alert(settings.iid);
   var onclick;
   var dialog = $('#dialog'+settings.iid);
   
   var dialog2= dialog.clone();
       dialog.dialog({
       closeText: 'Guardar y Cerrar',
       show: {
           effect: "blind",
           duration: 1000
           
       },
       hide: {
           effect: "explode",
           duration: 1000
       },
      close: function(event, ui) {
          
          dialog.remove();
          dialog2.appendTo('#extern'+settings.iid);
          dialog.attr('onclick',onclick);
          
      },
      
      modal: true,
      tittle: "Calificacion del Servicio",
      width:500,
      height:300
   });
   
   dialog.load(
      url2,
      {
         iid_solicitud: settings.iid, 
         iid: settings.id, 
         maxvalue: settings.maxvalue,
         curvalue: settings.curvalue
      }, // Datos para enviar (es este caso, ninguno)
      function (responseText, textStatus, XMLHttpRequest) {
         // Quitar el class de “cargando”
         dialog.removeClass('loading');
         onclick=dialog.attr('onclick');
         dialog.attr('onclick','event.cancelBubble = true;');
        
      }
   );
    //$(".ui-button-text").remove();
    //$(".ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix").remove();
    
    };
   
</script>

{% endblock %}
