{% extends '::layout.html.twig' %}

{% block content %}

<!--script src="http://code.jquery.com/jquery-2.1.0.min.js"></script-->
<h1>Solicitud de Servicio</h1>
{% for flashMessage in app.session.flashbag.get('flash_info') %}
<div class="isa_info">
        {{ flashMessage }}
    </div>

{% endfor %}
 

{% for flashMessage in app.session.flashbag.get('flash_warning') %}
<div class="isa_warning">
        {{ flashMessage }}
    </div>

{% endfor %}
 


{% for flashMessage in app.session.flashbag.get('flash_error') %}
<div class="isa_error">
        {{ flashMessage }}
    </div>

{% endfor %}
 


{% for flashMessage in app.session.flashbag.get('flash_success') %}
<div class="isa_success">
        {{ flashMessage }}
    </div>
{% endfor %}
 


<div class="container" >

    <section class="register">
        
        <h1>Ingrese los siguientes datos:</h1>
        
        <form action="{{ path('SolicitudServicio_create') }}" method="post" class="login">
              {{ form_start(form) }}
        {{ form_errors(form) }}  
            <table width="800">
                <tr>
                        
             <td id="campos5">
                 
                 <div class="error">
                {{ form_errors(form.tbgentiposolicitud) }}</div>       
                    <table>  <td><h2>1. </h2></td><td width="5"></td><td width="115">
                {{ form_label(form.tbgentiposolicitud, 'Tipo Solicitud:') }}</td>
                        <td>{{ form_widget(form.tbgentiposolicitud,{'required': true}) }}</td>
                    
                 <td width="10"></td>
                <div class="error" >
                {{ form_errors(form.fkIidEspSol) }}</div>       
                 <td><h2>2.</h2></td><td width="5"></td><td width="100">
                {{ form_label(form.fkIidEspSol, 'Especificación:') }}</td>
                        <td>{{ form_widget(form.fkIidEspSol,{'required': true}) }}</td>
                 
                 <td width="10"></td>
                <div class="error" >
                {{ form_errors(form.vdetalles) }}</div>       
                      <td><h2>3. </h2></td><td width="5"></td><td width="60">
                {{ form_label(form.vdetalles, 'Detalles:') }}</td>
                    <td>{{ form_widget(form.vdetalles,{'required': false}) }}</td>
                    <td width="10"></td>
                  <div class="error">
                {{ form_errors(form.contrato) }}</div>       
                    <table>  <td><h2 width="5">4. </h2></td><td width="5"></td><td width="115">
                {{ form_label(form.contrato, 'Contrato:') }}</td>
                        <td>{{ form_widget(form.contrato,{'required': true}) }}</td>
                    </table>
                    
                 </td>
             </tr>
             </table>
                 <table>
             <tr>
                         
             <td id="campos1">
                 <div class="error">
                {{ form_errors(form.vdescripcion) }}</div>       
                    <table>  
                    <td width="100">
                    {{ form_label(form.vdescripcion, 'Descripción:') }}</td>
                        <tr></tr>
                    <td  width="150">{{ form_widget(form.vdescripcion,{'required': false}) }}</td>
                    
                    </table>
             </td>
              
              </table>
                 <div id="campos3">
                 <table>
                
                    <tr><br><br>
                    
                    <td align="left" width="90">
                            
                            <label align="left"><h1> Datos Persona Contacto: </h1></label> </td>
                        
                        </tr>
                  
                        <td width="300">
                           
                    <table> 
                       <td width="90">
                {{ form_label(form.vpersona, 'Nombre:') }}</td>
                    <td>{{ form_widget(form.vpersona,{'required': false}) }}</td>
                    </table>
                            <div class="error" id="det">
                {{ form_errors(form.vpersona) }}</div>
                            </td>
                  <td>
                    <table>  <td width="90">
                {{ form_label(form.vtelefono, 'Teléfono:') }}</td>
                    <td>{{ form_widget(form.vtelefono,{'required': false}) }}</td>
                    </table>
                        <div class="error" id="det">
                {{ form_errors(form.vtelefono) }}</div>
                   </td>
                    <td width="10"></td>
                   <td>
                         
                    <table>  <td width="80">
                {{ form_label(form.vcorreo, 'Correo:') }}</td>
                    <td>{{ form_widget(form.vcorreo,{'required': false}) }}</td>
                    </table>
                       <div class="error" id="det">
                {{ form_errors(form.vcorreo) }}</div>  
                   </td>
                    
                   </table>
              </div>
                 <br>
                 <table>     
                     
                <td width="730">
                    <p class="submit">   
                        <input type="submit" name="commit" value="Registrar">
                </td>
                
                     </table>
                       
                     <div style="display: none;">     
                {{ form_row(form.fkIidEstatus, {'required' : false})}}
                {{ form_row(form.dfechaCreacion, {'required' : false})}}
                {{ form_row(form.fkIidUsuaDatos, {'required' : false})}}
                {{ form_row(form.iid, {'required' : false})}}                      
                {{ form_row(form.submit, { 'label': 'Registrar' }) }}        
                </div>
                  
                {{ form_end(form) }} 
                
                   
        </form>  
                   
    </section>
</div>
{% block javascripts %}
    {{ parent() }}

 <script>
     $('#campos1').hide();
     $('#campos3').hide();
     $('#campos4').hide();  
     
      
     var $name = $('#tech_tbundle_tbgensolicitudservicio_fkIidEspSol').find(":selected").text();
     if ($name!=='Seleccionar'){
                        $('#campos3').hide();     
                        $('#campos4').hide(); 
     
                    if($name==='Camaras adicionales'){
                        
                        $('#campos3').hide();     
                        $('#campos4').show();  
     
                        
                  }else{
                      if (($name==='Motivo A' || $name==='Motivo B')){
                        $('#campos3').hide();     
                        $('#campos4').hide();  
     
                        
                  }else{
                        if ($name==='Otras'){
                        $('#campos3').show();
                        $('#campos4').hide();  
     
                      
                          //  alert('noes');
                        }else{
                            if ($name==='Nueva Localidad'){
                        $('#campos3').show();     
                        $('#campos4').hide();         
                            }else{
                        $('#campos3').hide();     
                        $('#campos4').hide();  
     
                            
                        }
                  }
              }
          }
      }
//$('#campos4').hide();
            $(function() {
                $(document).on('change', '.tbgentiposolicitud_selector', function() {
//                    alert("Han cambiado mi valor");
                        $('#campos1').hide();     
                        $('#campos3').hide();     
                        $('#campos4').hide();     
                        
                    var data = {
                        tbgentiposolicitud_id: $(this).val()
                    };

                    $.ajax({
                        type: 'post',
                        url: '{{ path("especs") }}',
                        data: data,
                        dataType: 'json',
                        success: function(data) {
                            if (data.error !== undefined && data.error !== '') {
                                alert(data.error);
                            } else {
                                var $tbgenespecsolicitud_selector = $('#tech_tbundle_tbgensolicitudservicio_fkIidEspSol');
                                    $tbgenespecsolicitud_selector.html('<option>Seleccionar</option>');  
                                if (data.length!== undefined ){
                                    for (var i=0, total = data.length; i < total; i++) {
                                        $tbgenespecsolicitud_selector.append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
                                    }
                                    $tbgenespecsolicitud_selector .prop('disabled',false);  
                                    
                                }else{
                                    $tbgenespecsolicitud_selector .html('<option> No Seleccionar</option>');
                                    $tbgenespecsolicitud_selector .prop('disabled','disabled');  
                                    var $tbgendetalle_selector = $('#tech_tbundle_tbgensolicitudservicio_vdetalles');
                            $tbgendetalle_selector.html('<option> No Seleccionar</option>');
                            $tbgendetalle_selector.prop('disabled','disabled');  
                                }
                            }
                        },
                        error: function(e, ts, et) {
                            alert(ts);
                            
                        }
                    });


                });

            });
            $(function() {
                $(document).on('change', '.tbgenespecsolicitud_selector', function() {
//                    alert("Han cambiado mi valor");
                  var $name = $(this).find(":selected").text();
                  //alert($name);
                  if( $name==='Camaras adicionales'){       
                        $('#campos3').hide();     
                        $('#campos4').show();
                        $('#tech_tbundle_tbgensolicitudservicio_vpersona').prop('required',false);  
                        $('#tech_tbundle_tbgensolicitudservicio_vtelefono').prop('required',false);  
                        $('#tech_tbundle_tbgensolicitudservicio_vcorreo').prop('required',false);  
                  }else{
                      if (($name==='Motivo A' || $name==='Motivo B')){
                        
                        $('#campos3').hide();     
                        $('#campos4').hide();  
                        $('#tech_tbundle_tbgensolicitudservicio_vpersona').prop('required',false);  
                        $('#tech_tbundle_tbgensolicitudservicio_vtelefono').prop('required',false);  
                        $('#tech_tbundle_tbgensolicitudservicio_vcorreo').prop('required',false);  
                  }else{
                        if ($name==='Nueva Localidad'){
                        
                        $('#campos3').show();
                        $('#campos4').hide();
                        
                        $('#tech_tbundle_tbgensolicitudservicio_vpersona').prop('required',true);  
                        $('#tech_tbundle_tbgensolicitudservicio_vtelefono').prop('required',true);  
                        $('#tech_tbundle_tbgensolicitudservicio_vcorreo').prop('required',true);  
                        
                        
                    //  alert('noes');
                        }else{
                            if ($name==='Otras'){
                        
                        $('#campos3').show();     
                        $('#campos4').hide();   
                        $('#tech_tbundle_tbgensolicitudservicio_vpersona').prop('required',true);  
                        $('#tech_tbundle_tbgensolicitudservicio_vtelefono').prop('required',true);  
                        $('#tech_tbundle_tbgensolicitudservicio_vcorreo').prop('required',true);  
                        
                        }else{
                            $('#campos3').hide();     
                            $('#campos4').hide();   
                            $('#tech_tbundle_tbgensolicitudservicio_vpersona').prop('required',false);  
                        $('#tech_tbundle_tbgensolicitudservicio_vtelefono').prop('required',false);  
                        $('#tech_tbundle_tbgensolicitudservicio_vcorreo').prop('required',false);  
                        }
                    }
                }
            }
                    var data = {
                        tbgenespecsolicitud_id: $(this).val()
                        
                    };
                    //alert("Valor"+$(this).val());
                    $.ajax({
                        type: 'post',
                        url: '{{ path("detalls") }}',
                        data: data,
                        dataType: 'json',
                        success: function(data) {
                            if (data.error !== undefined && data.error !== '') {
                                alert(data.error);
                            } else {
                            var $tbgendetalle_selector = $('#tech_tbundle_tbgensolicitudservicio_vdetalles');
                            
                            $tbgendetalle_selector.html('<option>Seleccionar</option>');
                            $tbgendetalle_selector.prop('disabled',false);     
                            $tbgendetalle_selector.prop('required',true);  
                            
                            if (data.length!== undefined ){
                            for (var i=0, total = data.length; i < total; i++) {
                       
                                  $tbgendetalle_selector.append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
                       
                                  }
                                  //$tbgendetalle_selector.prop('disabled',false).prop('required',true);  
                                  
     
                            
                                if ($('#tech_tbundle_tbgensolicitudservicio_vdetalles').children('option').length>1){
                            //        $('#tech_tbundle_tbgensolicitudservicio_vdetalles').prop('required',true); 
                                }    
                        }else{
                            $tbgendetalle_selector.html('<option> No Seleccionar</option>');
                            $tbgendetalle_selector.prop('disabled','disabled');     
                            $tbgendetalle_selector.prop('required',false);  
                            
                        }
                    }
                        },
                        error: function(e, ts, et) {
                            alert(ts);
                            
                        }
                    });


                });

            });
  


        </script>

{% endblock %}
{% endblock %}



