{% extends '::layout.html.twig' %}

{% block content %}

{% for flashMessage in app.session.flashbag.get('flash_info') %}
<div class="isa_info">
        {{ flashMessage }}
    </div>
{% endfor %}
 

{% for flashMessage in app.session.flashbag.get('flash_warning') %}
<div class="isa_warning">
        {{ flashMessage }}
    </div>
{% endfor %}
 


{% for flashMessage in app.session.flashbag.get('flash_error') %}
<div class="isa_error">
        {{ flashMessage }}
    </div>
{% endfor %}

   <br>
<h1>Datos de Solicitud de Servicio </h1>

    <table class="record_properties">
        <br><br>
             <tr>
                <td width="210" height="20">Número de Solicitud: </td>
                {% set t= entity.iIdCaso|length %}
                <td><em>{{ entity.iIdCaso[t-4:] }}</em></td>
            </tr>
            <tr>
                <td width="210" height="20">Usuario </td>
                <td><em>{{ entity.fkIidUsuaDatos.vnombre }} {{ entity.fkIidUsuaDatos.vapellido }}</em></td>
            </tr>
            <tr>
                 <td width="210" height="20">Tipo Solicitud: </td>
                 <td><em>{{ entity.fkIidEspSol.fkIidEspSol.vnombreTipoSol }}</em></td>
            </tr>
            <tr>
                 <td width="210" height="20">Especificación: </td>
                <td><em>{{ entity.fkIidEspSol.vnombreEspSol }}</em></td>
            </tr>
            <tr>
                 <td width="210" height="20">Estatus de Solicitud</td>
                <td><em>{{ entity.vdescEstatus }}</em></td>
            </tr>    
            <tr>
                 <td width="210" height="20">Fecha Creación: </td>
                <td><em>{{ entity.dfechaCreacion|date('d-m-Y') }}</em></td>
            </tr>
                
            
            <!-- -->
            
            
            <!-- -->
            
        </tbody>
    </table>
<br><br>
        <ul class="record_actions">
    <li>
        <a href="{{ path('SolicitudServicio') }}">
            Lista de Servicios
        </a>
    </li>
    <li>
        <a href="{{ path('SolicitudServicio_edit', { 'id': entity.id }) }}">
            Cambiar estatus de Solicitud de Registro
        </a>
    </li>
    
</ul>
{% endblock %}
