{% extends '::layout.html.twig' %}

{% block content -%}
    <h1>Estatus Proyecto</h1>

    <div class="container" >

        <section class="register">
            <table class="records_list">
                <thead>
                    <tr>
                        <td align="left"  width="50"><h4 ><strong>Id</strong></h4></td>
                        <td width="40"></td>
                        <td align="left"  width="200"><h4 ><strong>Decripcion</strong></h4></td>
                        <td width="40"></td>
                        <td align="left"  width="70"><h4 ><strong>Acciones</strong></h4></td>
                
            </tr>
        </thead>
        <tbody>
            
        {% for entity in entities %}
            <tr>
                <td align="left"  width="50"><a href="{{ path('EstatusCotizacion_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td width="40"></td>
                <td align="left"  width="200">{{ entity.vdescripcion }}</td>
                <td width="40"></td>
                <td align="left"  width="70">
                <ul>
                    <li>
                        <a href="{{ path('EstatusCotizacion_show', { 'id': entity.id }) }}">Ver</a>
                    </li>
                    <li>
                        <a href="{{ path('EstatusCotizacion_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        
                
            </section>
        </div>
                
    {% endblock %}
    
