{% extends '::layoutPotencial.html.twig' %}

{% block content %}
<div class="isa_info">
        Puede Realizar Selección Multiple
       
</div>

{% for flashMessage in app.session.flashbag.get('flash_info') %}
<div class="isa_info">
        {{ flashMessage }}
</div>

{% endfor %}

{% for flashMessage in app.session.flashbag.get('flash_warning') %}
<div class="isa_warning">
        {{ flashMessage }}
</div>

{% endfor %}



{% for flashMessage in app.session.flashbag.get('flash_error') %}
<div class="isa_error">
        {{ flashMessage }}
</div>

{% endfor %}



{% for flashMessage in app.session.flashbag.get('flash_success') %}
<div class="isa_success">
        {{ flashMessage }}
</div>

{% endfor %}



<h1 class="title"></h1>

<div class="container" >

    <section class="register">
        {%if (Preguntas!=null  and Respuestas!=null) %}
        
        
        <br>
        <h1>Ingrese los siguientes datos:</h1>
        <br>

        <form action="{{ path('PersonaPotencial_sendcreate', { 'id':  Persona }) }}" method="post" >
        {% set k =1%}
            {% set m=1%}
            <table>
           {% for pregunta in Preguntas %}
        <td>
            <table>
                <tr >
                    <td width="200"></td>
                    <td align="left" width="500">
                        <br><br>
                        <h1 align="left" ><label align="left" for='preg'{{k}}>{{k}}.    {{ pregunta.FkIidpreg.vdescripcion }}</label>
                        </h1><br>
                    </td>
                </tr>
                </table>
            <table>
                <tr>  
                    <td width="150"></td>
                    <td width="400">  
                  {% for respuesta in Respuestas[pregunta.id] %}
                        <input  type="checkbox" name="{{respuesta.IdResp.id}}"  value="{{ respuesta.IdPreg.id}}" /> {{ respuesta.IdResp.vdescripcion}}<br>
                      {% set m=m+1 %}
                  {% endfor %}  
                    </td>
                </tr>
            </table>
            </td>
            {% set k=k+1 %}        
            {% endfor %}
            </table>
<br>
            <div align="right">

                <p class="submit">   
                    <input type="submit" name="commit" value="Enviar">
            </div>
        </form>
        {%endif%}
    </section>
</div>


{% endblock %}
