{% extends '::layoutPotencial.html.twig' %}

{% block content %}
<div class="container richtextpage pages">
    <div class="row contact">
        <div class="span4">

            <div class="row text">
                <div class="span4">
                    <h1>Atención al cliente</h1>
                    <ul>
                        <li>
                            <h2><strong>0501 CAMARAS</strong><span>&nbsp;(2262727)</span></h2>
                        </li>
                        <li>Email:&nbsp;<strong><a href="mailto:ventas@techtrol.com.ve">ventas@techtrol.com.ve</a></strong></li>
                        <li>Email2: <strong><a href="mailto:atencionalcliente@techtrol.com.ve">atencionalcliente@techtrol.com.ve</a></strong></li>

                    </ul>
                    <br>

                </div>
                <div class="span4">
                    <div class="principal">
                        <div class="address">
                            <ul>
                                <li><h2><i class="fa fa-map-marker highlighted"></i> Oficina Principal</h2>
                                </li><li>Calle 6 con calle 8, Edificio ZYS.</li>
                                <li> La Urbina, Caracas, Venezuela.</li>
                                <li><i class="fa fa-phone highlighted"></i> <a href="tel:0212 242 3062">0212 242 3062</a></li>


                                <li>Fax: 0212 242 1119</li>

                                <li><i class="fa fa-envelope highlighted"></i> <a href="mailto:ventas@techtrol.com.ve">ventas@techtrol.com.ve</a></li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="span4">
                    <div id="map"><div style="overflow: hidden; width: 440px; height: 250px;"></div></div>
                </div>



            </div>

        </div>



        <div class="span8 form-wrapper">


{% for flashMessage in app.session.flashbag.get('flash_success') %}
            <div class="isa_success">
        {{ flashMessage }}
            </div>

{% endfor %}

{% for flashMessage in app.session.flashbag.get('flash_info') %}
            <div class="isa_info">

        {{ flashMessage }}
            </div>

{% endfor %}


{% for flashMessage in app.session.flashbag.get('flash_warning') %}
            <div class="isa_warning">
        {{ flashMessage }}
            </div>

{% endfor %}



{% for flashMessage in app.session.flashbag.get('flash_error') %}
            <div class="isa_error">
        {{ flashMessage }}
            </div>

{% endfor %}

           
{%if (form!=null) %}
             <h2>Ahora Introduzca sus Datos Básicos</h2>

            <form action="{{ path('PersonaPotencial_sendcreate', { 'id':  PersonaRelForm }) }}" method="post" >
     {{form_start(form)}}
{{ form_errors(form) }}  
                <table>
                    <td></td>
                    <td>                      

                        <div class="error">
                {{ form_errors(form.vnombreCompleto) }}</div>       
                        <table>  <tr><td width="200">
            {{ form_label(form.vnombreCompleto, 'Nombre Completo:') }}</td></tr>
                            <tr>
                                <td>{{ form_widget(form.vnombreCompleto) }}</td><tr>
                        </table>
                        <div class="error">
                {{ form_errors(form.vtelefono) }}</div>       
                        <table> <tr><td width="200">
            {{ form_label(form.vtelefono, 'Teléfono:') }}</td></tr>
                            <tr><td>{{ form_widget(form.vtelefono) }}</td></tr>
                        </table>

                        <div class="error">
                {{ form_errors(form.vcorreoEmail) }}</div>       
                        <table>  <tr><td width="200">
            {{ form_label(form.vcorreoEmail, 'Correo:') }}</td></tr>
                            <tr><td>{{ form_widget(form.vcorreoEmail) }}</td></tr>
                        </table>

                    </td>
                    <td>
                        <table>  <tr><td width="40"></td></tr>
                            <tr>
                                <td></td><tr>
                        </table>
                    </td>
                    <td>

                        <div class="error">
                {{ form_errors(form.vdepartamento) }}</div>       
                        <table><tr>  <td width="200">
            {{ form_label(form.vdepartamento, 'Departamento:') }}</td></tr>
                            <tr><td>{{ form_widget(form.vdepartamento) }}</td></tr>
                        </table>

                        <br> 
                        <div class="error">
                {{ form_errors(form.vmensaje) }}</div>       
                        <table><tr>  <td width="200">
            {{ form_label(form.vmensaje, 'Mensaje:') }}</td></tr>
                            <tr><td>{{ form_widget(form.vmensaje) }}</td></tr>
                        </table>

                        <div style="display: none;">


        {{ form_row(form.dfechaRegistro) }}

        {{ form_row(form.submit, { 'label': 'Registrar' }) }}        

                        </div>

                    </td>
                
                    <tr>    
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <br> 

                            <p class="submit">   
                                <input type="submit" name="commit" value="Enviar">
                            </p>
                        </td>
                    </tr>
                </table>
        {{ form_end(form) }} 

            </form>  

{%else%}
             <h2>Gracias por Contactarnos</h2>
{%endif%}
             
        </div>

        <div class="span8">

            <div class="row">
                <div class="span4">
                    <div class="address">
                        <ul>
                            <li><h3><i class="fa fa-map-marker highlighted"></i> Oficina Barquisimeto</h3></li>
                            <li>Av. Libertador, C.C El Recreo, Nivel 2, Ofic. 258</li>
                            <li>Barquisimeto, Edo. Lara</li>
                            <li><i class="fa fa-phone highlighted"></i> <a href="tel:0251 4454352">0251 4454352</a></li>

                            <li><i class="fa fa-phone highlighted"></i> <a href="tel:0251 4460763">0251 4460763</a></li>


                            <li><i class="fa fa-envelope highlighted"></i> <a href="mailto:ventas@techtrol.com.ve">ventas@techtrol.com.ve</a></li>
                        </ul>
                    </div>
                </div>
                <div class="span4">
                    <div class="address">
                        <ul>
                            <li><h3><i class="fa fa-map-marker highlighted"></i> Oficina Valencia</h3></li>
                            <li>C.C Milan Center. Piso 1, Ofic. 29</li>
                            <li>San Diego, Carabobo.</li>
                            <li><i class="fa fa-phone highlighted"></i> <a href="tel:0241 8210676">0241 8210676</a></li>

                            <li><i class="fa fa-phone highlighted"></i> <a href="tel:0424 1315244">0424 1315244</a></li>


                            <li><i class="fa fa-envelope highlighted"></i> <a href="mailto:ventasval@techtrol.com.ve">ventasval@techtrol.com.ve</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>




    </div>
</div>
<script src="{{ asset('bundles/techt/js/main.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/techt/js/js') }}" type="text/javascript"></script>

<script>

    function initialize() {
        var canvas = document.getElementById("map");
        var options = {
            center: new google.maps.LatLng(10.492638, -66.80967),
            zoom: 15,
            disableDefaultUI: true,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
        }
        var map = new google.maps.Map(canvas, options);

        var marker = new google.maps.Marker({
            map: map,
            position: map.getCenter()
        });
        var infowindow = new google.maps.InfoWindow();
        infowindow.setContent('<strong>Oficina Principal de Techtrol</strong>');
        google.maps.event.addListener(marker, 'click', function() {
            infowindow.open(map, marker);
        });

    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>
{% endblock %}

